@model NotWorkingInfoModel
@section HeadPartial{
    <meta name="description" content="非稼働情報のページです。JA-Fleetは日本国内の航空会社が保有する機材（飛行機）を一覧表示や検索できるサイトです。">
    <meta name="referrer" content="no-referrer" />

    <meta property="og:type" content="article" />
    <meta property="og:description" content="非稼働情報のページ。JA-Fleetは日本国内の航空会社が保有する機材（飛行機）を一覧表示や検索できるサイトです。" />
    <meta property="og:image" content="https://ja-fleet.noobow.me/images/JA-Fleet_1_og.png" />
    <meta property="og:url" content="https://ja-fleet.noobow.me/@Context.Request.Path" />
    <meta property="og:site_name" content="JA-Fleet【本邦航空会社機材一覧サイト】" />
    <meta content="summary" name="twitter:card" />
    <meta content="@@ja_fleet" name="twitter:site" />
}
@section CssPartial{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha256-PZLhE6wwMbg4AB3d35ZdBF9HD/dI/y4RazA3iRDurss=" crossorigin="anonymous" />
}
<h2>非稼働情報</h2>
<div class="form-group">
    最終稼働日が @Html.TextBox("fromDate", null, null, new { type = "date" }) 以前
</div>
毎日朝6時頃にFlightradar24から取得した情報をそのまま表示してます。<input type="button" value="Excel出力" onclick="$('.buttons-html5').eq(0).click();" id="excel" class="btn btn-primary btn-xs" />
<table id="notWorkingInfoTable" class="display cell-border compact dt-body-center nowrap" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>最終稼働日時</th>
            <th>機体記号</th>
            <th>From</th>
            <th>To</th>
            <th>便名</th>
            <th>ステータス</th>
        </tr>
    </thead>
</table>

@section ScriptsPartial{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha256-P93G0oq6PBPWTP1IR8Mz/0jHHUpaWL0aBJTKauisG7Q=" crossorigin="anonymous"></script>
    <script>
        var table;
        $(function () {
            let gridheight;

            $("#fromDate").val(dayjs().add(-3, "day").format("YYYY-MM-DD"));

            if (window.innerHeight < 800) {
                gridheight = '60vh';
            } else {
                gridheight = '68vh';
            }

            datatablesLangInit();

            table = $('#notWorkingInfoTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {   extend: "excelHtml5",
                        className: "buttonsToHide",
                        exportOptions: {
                            columns: ':visible'
                        }
                    }
                ],
                ajax: {
                    url: '/NotWorkingInfo/GetInfo?fromDate=' + getFromDate(),
                    dataSrc: ''
                },
                columns: [
                    {
                        data: '', className: 'dt-center'
                        , render: function (data, type, row, meta) {
                            return "<a href=\"javascript:openDetail('" + row.registrationNumber + "')\">機材</a> " +
                                "<a href=\"https://www.flightradar24.com/data/aircraft/" + row.registrationNumber + "\" target=\"_blank\">稼働</a>";
                        }
                    },
                    { data: 'flightDate', className: 'dt-center' },
                    { data: 'registrationNumber', className: 'dt-center' },
                    { data: 'fromAp', className: 'dt-center' },
                    { data: 'toAp', className: 'dt-center' },
                    { data: 'flightNumber', className: 'dt-center' },
                    { data: 'status', className: 'dt-center' }
                ],
                paging: false,
                ordering: false,
                fixedHeader: true,
                scrollY: gridheight,
                scrollX: true,
                scrollCollapse: true,
                searching: false
            });
        });

        const getFromDate = function () {
            if ($("#fromDate").val() == null) {
                $("#fromDate").val(dayjs().add(-3, "day").format("YYYY-MM-DD"));
            }
            return $("#fromDate").val();
        }

        $("#fromDate").change(function () {
            table.ajax.url('/NotWorkingInfo/GetInfo?fromDate=' + getFromDate()).load();
        });

    </script>
}