@{
    ViewData["Title"] = "LCC";
}
<h2>@ViewData["Title"]</h2>

<table id="LCC" class="display cell-border compact dt-body-center" style="width:100%">
    <thead>
        <tr>
            <th>航空会社</th>
            <th>機種</th>
            <th>機体記号</th>
            <th>製造番号</th>
            <th>エンジン</th>
            <th>登録（予定）年月日</th>
            <th>Wi-Fi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA801P</td>
            <td>4887</td>
            <td>CFM56-5B4</td>
            <td>2011/11/7</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA802P</td>
            <td>4936</td>
            <td>CFM56-5B4</td>
            <td>2011/12/16</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA803P</td>
            <td>5015</td>
            <td>CFM56-5B4</td>
            <td>2012/2/20</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA804P</td>
            <td>5166</td>
            <td>CFM56-5B4</td>
            <td>2012/6/18</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA805P</td>
            <td>5304</td>
            <td>CFM56-5B4</td>
            <td>2012/10/5</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA806P</td>
            <td>5384</td>
            <td>CFM56-5B4</td>
            <td>2012/11/28</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA807P</td>
            <td>5440</td>
            <td>CFM56-5B4</td>
            <td>2013/1/24</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA808P</td>
            <td>5540</td>
            <td>CFM56-5B4</td>
            <td>2013/4/8</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA809P</td>
            <td>5640</td>
            <td>CFM56-5B4</td>
            <td>2013/6/13</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA810P</td>
            <td>5724</td>
            <td>CFM56-5B4</td>
            <td>2013/8/6</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA811P</td>
            <td>5874</td>
            <td>CFM56-5B4</td>
            <td>2013/12/9</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA812P</td>
            <td>6004</td>
            <td>CFM56-5B4</td>
            <td>2014/3/12</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA813P</td>
            <td>6107</td>
            <td>CFM56-5B4</td>
            <td>2014/6/3</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA814P</td>
            <td>6335</td>
            <td>CFM56-5B4</td>
            <td>2014/11/13</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA815P</td>
            <td>6640</td>
            <td>CFM56-5B4</td>
            <td>2015/6/24</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA816P</td>
            <td>6674</td>
            <td>CFM56-5B4</td>
            <td>2015/7/23</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA817P</td>
            <td>6824</td>
            <td>CFM56-5B4</td>
            <td>2015/11/18</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA818P</td>
            <td>7370</td>
            <td>CFM56-5B4</td>
            <td>2016/10/31</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA819P</td>
            <td>7701</td>
            <td>CFM56-5B4</td>
            <td>2017/6/21</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA820P</td>
            <td>----</td>
            <td>CFM56-5B4</td>
            <td>17/10/--</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA01JJ</td>
            <td>5093</td>
            <td>V2527-A5</td>
            <td>2012/4/23</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA02JJ</td>
            <td>5145</td>
            <td>V2527-A5</td>
            <td>2012/5/24</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA03JJ</td>
            <td>5161</td>
            <td>V2527-A5</td>
            <td>2012/6/18</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA04JJ</td>
            <td>5245</td>
            <td>V2527-A5</td>
            <td>2012/8/7</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA05JJ</td>
            <td>5274</td>
            <td>V2527-A5</td>
            <td>2012/9/20</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA06JJ</td>
            <td>5281</td>
            <td>V2527-A5</td>
            <td>2012/10/4</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA07JJ</td>
            <td>5355</td>
            <td>V2527-A5</td>
            <td>2012/11/14</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA08JJ</td>
            <td>5492</td>
            <td>V2527-A5</td>
            <td>2013/2/19</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA09JJ</td>
            <td>5499</td>
            <td>V2527-A5</td>
            <td>2013/3/1</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA10JJ</td>
            <td>5520</td>
            <td>V2527-A5</td>
            <td>2013/3/14</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA11JJ</td>
            <td>5598</td>
            <td>V2527-A5</td>
            <td>2013/4/26</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA12JJ</td>
            <td>5618</td>
            <td>V2527-A5</td>
            <td>2013/5/22</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA13JJ</td>
            <td>5649</td>
            <td>V2527-A5</td>
            <td>2013/6/26</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA14JJ</td>
            <td>5695</td>
            <td>V2527-A5</td>
            <td>2013/8/28</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA15JJ</td>
            <td>5701</td>
            <td>V2527-A5</td>
            <td>2013/9/11</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA16JJ</td>
            <td>5717</td>
            <td>V2527-A5</td>
            <td>2013/9/24</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA17JJ</td>
            <td>5732</td>
            <td>V2527-A5</td>
            <td>2013/9/6</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA18JJ</td>
            <td>5796</td>
            <td>V2527-A5</td>
            <td>2013/10/11</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA19JJ</td>
            <td>6296</td>
            <td>V2527-A5</td>
            <td>2014/10/15</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA20JJ</td>
            <td>6381</td>
            <td>V2527-A5</td>
            <td>2014/12/16</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA21JJ</td>
            <td>5885</td>
            <td>V2527-A5</td>
            <td>2017/2/16</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA22JJ</td>
            <td>5877</td>
            <td>V2527-A5</td>
            <td>17/12/--</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA23JJ</td>
            <td>5940</td>
            <td>V2527-A5</td>
            <td>18/03/--</td>
            <td>×</td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA24JJ</td>
            <td>----</td>
            <td>V2527-A5</td>
            <td>1-/--/--</td>
            <td>×</td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA01VA</td>
            <td>5844</td>
            <td>CFM56-5B4</td>
            <td>2013/11/11</td>
            <td>×</td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA02VA</td>
            <td>5901</td>
            <td>CFM56-5B4</td>
            <td>2013/12/13</td>
            <td>×</td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA03VA</td>
            <td>5926</td>
            <td>CFM56-5B4</td>
            <td>2014/1/15</td>
            <td>×</td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA04VA</td>
            <td>6257</td>
            <td>CFM56-5B4</td>
            <td>2014/9/25</td>
            <td>×</td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA05VA</td>
            <td>6282</td>
            <td>CFM56-5B4</td>
            <td>2014/10/8</td>
            <td>×</td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA06VA</td>
            <td>6320</td>
            <td>CFM56-5B4</td>
            <td>2014/11/4</td>
            <td>×</td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA07VA</td>
            <td>6422</td>
            <td>CFM56-5B4</td>
            <td>2015/1/16</td>
            <td>×</td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA08VA</td>
            <td>6447</td>
            <td>CFM56-5B4</td>
            <td>2015/2/6</td>
            <td>×</td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA09VA</td>
            <td>7080</td>
            <td>CFM56-5B4</td>
            <td>2016/4/21</td>
            <td>×</td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA10VA</td>
            <td>7411</td>
            <td>CFM56-5B4</td>
            <td>2016/11/30</td>
            <td>×</td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA11VA</td>
            <td>7426</td>
            <td>CFM56-5B4</td>
            <td>2016/12/16</td>
            <td>×</td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA12VA</td>
            <td>7543</td>
            <td>CFM56-5B4</td>
            <td>2017/2/21</td>
            <td>×</td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA13VA</td>
            <td>----</td>
            <td>CFM56-5B4</td>
            <td>17/08/--</td>
            <td>×</td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA14VA</td>
            <td>----</td>
            <td>CFM56-5B4</td>
            <td>1-/--/--</td>
            <td>×</td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA15VA</td>
            <td>----</td>
            <td>CFM56-5B4</td>
            <td>1-/--/--</td>
            <td>×</td>
        </tr>
        <tr>
            <th>春秋航空日本</th>
            <td>B737-800</td>
            <td>JA01GR</td>
            <td>39429</td>
            <td>CFM56-7B26</td>
            <td>2013/7/18</td>
            <td>×</td>
        </tr>
        <tr>
            <th>春秋航空日本</th>
            <td>B737-800</td>
            <td>JA02GR</td>
            <td>41256</td>
            <td>CFM56-7B26</td>
            <td>2013/12/19</td>
            <td>×</td>
        </tr>
        <tr>
            <th>春秋航空日本</th>
            <td>B737-800</td>
            <td>JA03GR</td>
            <td>41272</td>
            <td>CFM56-7B26</td>
            <td>2014/3/20</td>
            <td>×</td>
        </tr>
        <tr>
            <th>春秋航空日本</th>
            <td>B737-800</td>
            <td>JA04GR</td>
            <td>61776</td>
            <td>CFM56-7B26</td>
            <td>2017/1/12</td>
            <td>×</td>
        </tr>
        <tr>
            <th>春秋航空日本</th>
            <td>B737-800</td>
            <td>JA05GR</td>
            <td>61783</td>
            <td>CFM56-7B26</td>
            <td>2017/6/13</td>
            <td>×</td>
        </tr>
        <tr>
            <th>春秋航空日本</th>
            <td>B737-800</td>
            <td>JA06GR</td>
            <td>61798</td>
            <td>CFM56-7B26</td>
            <td>2017/6/23</td>
            <td>×</td>
        </tr>
        <tr>
            <th>エアアジア・ジャパン</th>
            <td>A320-200</td>
            <td>JA01DJ</td>
            <td>6702</td>
            <td>CFM56-5B6/3</td>
            <td>2015/10/13</td>
            <td>×</td>
        </tr>
        <tr>
            <th>エアアジア・ジャパン</th>
            <td>A320-200</td>
            <td>JA02DJ</td>
            <td>6792</td>
            <td>CFM56-5B6/3</td>
            <td>2016/4/28</td>
            <td>×</td>
        </tr>
    </tbody>
</table>

@section ScriptsPartial{
    <script tyep="text/javascript">
$(document).ready(function() {
            $.extend( $.fn.dataTable.defaults, {
                language: {
                    url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
                }
            });
            $('#LCC').DataTable({
                "paging":   false,
                "ordering": false,
                "columnDefs": [{
                    "targets": '_all',
                    "className": 'dt-center'
                }]
            });
        } );
    </script>
}