@{
    ViewData["Title"] = "LCC";
}
<h2>@ViewData["Title"]</h2>

<table id="LCC" class="display cell-border compact dt-body-center" style="width:100%">
    <thead>
        <tr>
            <th>航空会社</th>
            <th>機種</th>
            <th>機体記号</th>
            <th>製造番号</th>
            <th>登録（予定）年月日</th>
            <th>Wi-Fi</th>
            <th>運用</th>
            <th>備考（特別塗装など）</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA801P</td>
            <td>4887</td>
            <td>2011/11/07</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA802P</td>
            <td>4936</td>
            <td>2011/12/16</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA803P</td>
            <td>5015</td>
            <td>2012/02/20</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA804P</td>
            <td>5166</td>
            <td>2012/06/18</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA805P</td>
            <td>5304</td>
            <td>2012/10/05</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA806P</td>
            <td>5384</td>
            <td>2012/11/28</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA807P</td>
            <td>5440</td>
            <td>2013/01/24</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA808P</td>
            <td>5540</td>
            <td>2013/04/08</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA809P</td>
            <td>5640</td>
            <td>2013/06/13</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA810P</td>
            <td>5724</td>
            <td>2013/08/06</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA811P</td>
            <td>5874</td>
            <td>2013/12/09</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA812P</td>
            <td>6004</td>
            <td>2014/03/12</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA813P</td>
            <td>6107</td>
            <td>2014/06/03</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA814P</td>
            <td>6335</td>
            <td>2014/11/13</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA815P</td>
            <td>6640</td>
            <td>2015/06/24</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA816P</td>
            <td>6674</td>
            <td>2015/07/23</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA817P</td>
            <td>6824</td>
            <td>2015/11/18</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA818P</td>
            <td>7370</td>
            <td>2016/10/31</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA819P</td>
            <td>7701</td>
            <td>2017/06/21</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA820P</td>
            <td>7971</td>
            <td>2017/12/04</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA821P</td>
            <td>8396</td>
            <td>2018/08/03</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA822P</td>
            <td></td>
            <td>2018/09/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ピーチ</th>
            <td>A320-200</td>
            <td>JA823P</td>
            <td></td>
            <td>2018/12/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA01JJ</td>
            <td>5093</td>
            <td>2012/04/23</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA02JJ</td>
            <td>5145</td>
            <td>2012/05/24</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA03JJ</td>
            <td>5161</td>
            <td>2012/06/18</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA04JJ</td>
            <td>5245</td>
            <td>2012/08/07</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA05JJ</td>
            <td>5274</td>
            <td>2012/09/20</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA06JJ</td>
            <td>5281</td>
            <td>2012/10/04</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA07JJ</td>
            <td>5355</td>
            <td>2012/11/14</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA08JJ</td>
            <td>5492</td>
            <td>2013/02/19</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA09JJ</td>
            <td>5499</td>
            <td>2013/03/01</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA10JJ</td>
            <td>5520</td>
            <td>2013/03/14</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA11JJ</td>
            <td>5598</td>
            <td>2013/04/26</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA12JJ</td>
            <td>5618</td>
            <td>2013/05/22</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA13JJ</td>
            <td>5649</td>
            <td>2013/06/26</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA14JJ</td>
            <td>5695</td>
            <td>2013/08/28</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA15JJ</td>
            <td>5701</td>
            <td>2013/09/11</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA16JJ</td>
            <td>5717</td>
            <td>2013/09/24</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA17JJ</td>
            <td>5732</td>
            <td>2013/09/06</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA18JJ</td>
            <td>5796</td>
            <td>2013/10/11</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA19JJ</td>
            <td>6296</td>
            <td>2014/10/15</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA20JJ</td>
            <td>6381</td>
            <td>2014/12/16</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA21JJ</td>
            <td>5885</td>
            <td>2017/02/16</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA22JJ</td>
            <td>5877</td>
            <td>2018/03/20</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA23JJ</td>
            <td>5940</td>
            <td></td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ジェットスター・ジャパン</th>
            <td>A320-200</td>
            <td>JA24JJ</td>
            <td>8429</td>
            <td></td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA01VA</td>
            <td>5844</td>
            <td>2013/11/11</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA02VA</td>
            <td>5901</td>
            <td>2013/12/13</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA03VA</td>
            <td>5926</td>
            <td>2014/01/15</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA04VA</td>
            <td>6257</td>
            <td>2014/09/25</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA05VA</td>
            <td>6282</td>
            <td>2014/10/08</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA06VA</td>
            <td>6320</td>
            <td>2014/11/04</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA07VA</td>
            <td>6422</td>
            <td>2015/01/16</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA08VA</td>
            <td>6447</td>
            <td>2015/02/06</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA09VA</td>
            <td>7080</td>
            <td>2016/04/21</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA10VA</td>
            <td>7411</td>
            <td>2016/11/30</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA11VA</td>
            <td>7426</td>
            <td>2016/12/16</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA12VA</td>
            <td>7543</td>
            <td>2017/02/21</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA13VA</td>
            <td>7816</td>
            <td>2017/08/10</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA14VA</td>
            <td>7966</td>
            <td>2017/12/15</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>バニラ・エア</th>
            <td>A320-200</td>
            <td>JA15VA</td>
            <td>8125</td>
            <td>2018/03/16</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>春秋航空日本</th>
            <td>B737-800</td>
            <td>JA01GR</td>
            <td>39429</td>
            <td>2013/07/18</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>春秋航空日本</th>
            <td>B737-800</td>
            <td>JA02GR</td>
            <td>41256</td>
            <td>2013/12/19</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>春秋航空日本</th>
            <td>B737-800</td>
            <td>JA03GR</td>
            <td>41272</td>
            <td>2014/03/20</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>春秋航空日本</th>
            <td>B737-800</td>
            <td>JA04GR</td>
            <td>61776</td>
            <td>2017/01/12</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>春秋航空日本</th>
            <td>B737-800</td>
            <td>JA05GR</td>
            <td>61783</td>
            <td>2017/06/13</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>春秋航空日本</th>
            <td>B737-800</td>
            <td>JA06GR</td>
            <td>61798</td>
            <td>2017/06/23</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>エアアジア・ジャパン</th>
            <td>A320-200</td>
            <td>JA01DJ</td>
            <td>6702</td>
            <td>2015/10/13</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>エアアジア・ジャパン</th>
            <td>A320-200</td>
            <td>JA02DJ</td>
            <td>6792</td>
            <td>2016/04/28</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
    </tbody>
    </table>
@section ScriptsPartial{
    <script tyep="text/javascript">
$(document).ready(function() {
            $.extend( $.fn.dataTable.defaults, {
                language: {
                    url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
                }
            });
            $('#LCC').DataTable({
                "paging":   false,
                "ordering": false,
                "columnDefs": [{
                    "targets": '_all',
                    "className": 'dt-center'
                }]
            });
        } );
    </script>
}