@{
    ViewData["Title"] = "JALグループ";
}

<h2>@ViewData["Title"]</h2>
<table id="JAL" class="display cell-border compact dt-body-center" style="width:100%">
    <thead>
        <tr>
            <th>航空会社</th>
            <th>機種</th>
            <th>機体記号</th>
            <th>製造番号</th>
            <th>登録（予定）年月日</th>
            <th>Wi-Fi</th>
            <th>運用</th>
            <th>備考（特別塗装など）</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>JAL</th>
            <td>B777-300ER</td>
            <td>JA731J</td>
            <td>32431</td>
            <td>2004/06/16</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-300ER</td>
            <td>JA732J</td>
            <td>32430</td>
            <td>2004/07/02</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-300ER</td>
            <td>JA733J</td>
            <td>32432</td>
            <td>2005/06/21</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-300ER</td>
            <td>JA734J</td>
            <td>32433</td>
            <td>2005/07/27</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-300ER</td>
            <td>JA735J</td>
            <td>32434</td>
            <td>2006/07/20</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-300ER</td>
            <td>JA736J</td>
            <td>32435</td>
            <td>2006/08/22</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-300ER</td>
            <td>JA737J</td>
            <td>36126</td>
            <td>2007/10/05</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-300ER</td>
            <td>JA738J</td>
            <td>32436</td>
            <td>2008/06/24</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-300ER</td>
            <td>JA739J</td>
            <td>32437</td>
            <td>2008/08/01</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-300ER</td>
            <td>JA740J</td>
            <td>36127</td>
            <td>2008/08/29</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-300ER</td>
            <td>JA741J</td>
            <td>36128</td>
            <td>2009/09/16</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-300ER</td>
            <td>JA742J</td>
            <td>36129</td>
            <td>2009/10/01</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-300ER</td>
            <td>JA743J</td>
            <td>36130</td>
            <td>2009/10/28</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-300</td>
            <td>JA8944</td>
            <td>28396</td>
            <td>1999/04/23</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-300</td>
            <td>JA8945</td>
            <td>28397</td>
            <td>1999/08/17</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-300</td>
            <td>JA751J</td>
            <td>27654</td>
            <td>2003/11/05</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-300</td>
            <td>JA752J</td>
            <td>27655</td>
            <td>2003/11/14</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200ER</td>
            <td>JA701J</td>
            <td>32889</td>
            <td>2002/07/12</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200ER</td>
            <td>JA702J</td>
            <td>32890</td>
            <td>2002/09/24</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200ER</td>
            <td>JA703J</td>
            <td>32891</td>
            <td>2003/02/04</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200ER</td>
            <td>JA704J</td>
            <td>32892</td>
            <td>2003/05/29</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200ER</td>
            <td>JA705J</td>
            <td>32893</td>
            <td>2003/07/16</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200ER</td>
            <td>JA706J</td>
            <td>33394</td>
            <td>2003/12/17</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200ER</td>
            <td>JA707J</td>
            <td>32894</td>
            <td>2004/04/14</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200ER</td>
            <td>JA708J</td>
            <td>32895</td>
            <td>2004/06/25</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200ER</td>
            <td>JA709J</td>
            <td>32896</td>
            <td>2004/09/03</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200ER</td>
            <td>JA710J</td>
            <td>33395</td>
            <td>2005/07/12</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200ER</td>
            <td>JA711J</td>
            <td>33396</td>
            <td>2005/08/31</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200</td>
            <td>JA8977</td>
            <td>27636</td>
            <td>1996/12/04</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200</td>
            <td>JA8984</td>
            <td>27651</td>
            <td>1997/04/22</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200</td>
            <td>JA8985</td>
            <td>27652</td>
            <td>1997/05/15</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200</td>
            <td>JA8978</td>
            <td>27637</td>
            <td>1997/06/27</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200</td>
            <td>JA8979</td>
            <td>27638</td>
            <td>1997/11/26</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200</td>
            <td>JA007D</td>
            <td>27639</td>
            <td>1998/04/28</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200</td>
            <td>JA008D</td>
            <td>27640</td>
            <td>1998/06/24</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200</td>
            <td>JA009D</td>
            <td>27641</td>
            <td>1998/09/07</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200</td>
            <td>JA010D</td>
            <td>27642</td>
            <td>1999/05/14</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200</td>
            <td>JA771J</td>
            <td>27656</td>
            <td>2003/05/13</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200</td>
            <td>JA772J</td>
            <td>27657</td>
            <td>2005/04/15</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B777-200</td>
            <td>JA773J</td>
            <td>27653</td>
            <td>2007/05/18</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-9</td>
            <td>JA861J</td>
            <td>35422</td>
            <td>2015/06/10</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-9</td>
            <td>JA862J</td>
            <td>34841</td>
            <td>2015/10/30</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-9</td>
            <td>JA863J</td>
            <td>38137</td>
            <td>2016/02/22</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-9</td>
            <td>JA864J</td>
            <td>34858</td>
            <td>2016/06/01</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-9</td>
            <td>JA865J</td>
            <td>38138</td>
            <td>2016/08/18</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-9</td>
            <td>JA866J</td>
            <td>35423</td>
            <td>2016/12/02</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-9</td>
            <td>JA867J</td>
            <td>34843</td>
            <td>2017/02/02</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-9</td>
            <td>JA868J</td>
            <td>34845</td>
            <td>2017/03/24</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-9</td>
            <td>JA869J</td>
            <td>35424</td>
            <td>2017/07/18</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-9</td>
            <td>JA870J</td>
            <td>35425</td>
            <td>2017/09/22</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-9</td>
            <td>JA871J</td>
            <td>34848</td>
            <td>2017/11/16</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-9</td>
            <td>JA872J</td>
            <td>35428</td>
            <td>2018/05/17</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-9</td>
            <td>JA873J</td>
            <td>34852</td>
            <td>2018/06/20</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-9</td>
            <td>JA874J</td>
            <td>35429</td>
            <td>2018/07/24</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA821J</td>
            <td>34831</td>
            <td>2013/11/05</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA822J</td>
            <td>34832</td>
            <td>2012/03/26</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA823J</td>
            <td>34833</td>
            <td>2013/08/29</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA824J</td>
            <td>34834</td>
            <td>2012/09/25</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA825J</td>
            <td>34835</td>
            <td>2012/03/26</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA826J</td>
            <td>34836</td>
            <td>2012/04/26</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA827J</td>
            <td>34837</td>
            <td>2012/04/26</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA828J</td>
            <td>34838</td>
            <td>2012/09/04</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA829J</td>
            <td>34839</td>
            <td>2012/12/27</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA830J</td>
            <td>34840</td>
            <td>2013/05/30</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA831J</td>
            <td>34847</td>
            <td>2014/03/18</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA832J</td>
            <td>34844</td>
            <td>2013/07/24</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA833J</td>
            <td>34846</td>
            <td>2013/12/17</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA834J</td>
            <td>34841</td>
            <td>2013/06/13</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA835J</td>
            <td>34850</td>
            <td>2014/03/31</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA836J</td>
            <td>38135</td>
            <td>2014/12/19</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA837J</td>
            <td>34860</td>
            <td>2014/11/25</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA838J</td>
            <td>34849</td>
            <td>2014/12/10</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA839J</td>
            <td>34853</td>
            <td>2015/01/20</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA840J</td>
            <td>34856</td>
            <td>2015/02/27</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA841J</td>
            <td>34854</td>
            <td>2015/06/29</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA842J</td>
            <td>34855</td>
            <td>2015/05/22</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA843J</td>
            <td>34859</td>
            <td>2016/01/29</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA844J</td>
            <td>38136</td>
            <td>2016/05/26</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B787-8</td>
            <td>JA845J</td>
            <td>34857</td>
            <td>2016/06/30</td>
            <td></td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA601J</td>
            <td>32886</td>
            <td>2002/05/20</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA602J</td>
            <td>32887</td>
            <td>2002/06/07</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA603J</td>
            <td>32888</td>
            <td>2002/06/18</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA606J</td>
            <td>33495</td>
            <td>2003/08/15</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA607J</td>
            <td>33496</td>
            <td>2003/10/07</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA608J</td>
            <td>33497</td>
            <td>2004/03/03</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA609J</td>
            <td>22845</td>
            <td>2004/04/07</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA610J</td>
            <td>33846</td>
            <td>2004/09/22</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA611J</td>
            <td>33847</td>
            <td>2004/11/16</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA612J</td>
            <td>33848</td>
            <td>2005/03/08</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA613J</td>
            <td>33849</td>
            <td>2005/08/24</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA614J</td>
            <td>33851</td>
            <td>2005/12/22</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA615J</td>
            <td>33850</td>
            <td>2006/05/16</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA616J</td>
            <td>35813</td>
            <td>2007/04/20</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA617J</td>
            <td>35814</td>
            <td>2007/07/24</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA618J</td>
            <td>35815</td>
            <td>2008/02/15</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA619J</td>
            <td>37550</td>
            <td>2008/07/01</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA620J</td>
            <td>37547</td>
            <td>2009/02/10</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA621J</td>
            <td>37548</td>
            <td>2009/03/17</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA622J</td>
            <td>37549</td>
            <td>2009/05/07</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA623J</td>
            <td>36131</td>
            <td>2009/05/29</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA651J</td>
            <td>40363</td>
            <td>2010/10/01</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA652J</td>
            <td>40364</td>
            <td>2010/10/22</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA653J</td>
            <td>40365</td>
            <td>2010/12/15</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA654J</td>
            <td>40366</td>
            <td>2011/02/04</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA655J</td>
            <td>40367</td>
            <td>2011/07/29</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA656J</td>
            <td>40368</td>
            <td>2011/08/23</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA657J</td>
            <td>40369</td>
            <td>2011/10/21</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA658J</td>
            <td>40370</td>
            <td>2011/11/18</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300ER</td>
            <td>JA659J</td>
            <td>40371</td>
            <td>2011/12/15</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300</td>
            <td>JA8975</td>
            <td>27658</td>
            <td>1995/06/12</td>
            <td></td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300</td>
            <td>JA8976</td>
            <td>27659</td>
            <td>1997/07/22</td>
            <td></td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300</td>
            <td>JA8980</td>
            <td>28837</td>
            <td>1997/09/16</td>
            <td></td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300</td>
            <td>JA8986</td>
            <td>28838</td>
            <td>1997/12/10</td>
            <td></td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300</td>
            <td>JA8987</td>
            <td>28553</td>
            <td>1998/02/07</td>
            <td></td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B767-300</td>
            <td>JA8988</td>
            <td>28563</td>
            <td>1999/11/29</td>
            <td></td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA301J</td>
            <td>35330</td>
            <td>2006/11/27</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA302J</td>
            <td>35331</td>
            <td>2007/01/24</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA303J</td>
            <td>35332</td>
            <td>2007/04/12</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA304J</td>
            <td>35333</td>
            <td>2007/05/08</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA305J</td>
            <td>35334</td>
            <td>2007/06/28</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA306J</td>
            <td>35335</td>
            <td>2007/10/22</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA307J</td>
            <td>35336</td>
            <td>2007/12/04</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA308J</td>
            <td>35337</td>
            <td>2008/01/15</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA309J</td>
            <td>35338</td>
            <td>2008/02/26</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA310J</td>
            <td>35339</td>
            <td>2008/02/12</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA311J</td>
            <td>35340</td>
            <td>2008/04/11</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA312J</td>
            <td>35341</td>
            <td>2008/05/09</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA313J</td>
            <td>35342</td>
            <td>2008/06/20</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA314J</td>
            <td>35343</td>
            <td>2008/08/28</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA315J</td>
            <td>35344</td>
            <td>2008/10/17</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA316J</td>
            <td>35345</td>
            <td>2008/12/22</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA317J</td>
            <td>35346</td>
            <td>2009/03/04</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA318J</td>
            <td>35347</td>
            <td>2009/03/12</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA319J</td>
            <td>35348</td>
            <td>2009/04/16</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA320J</td>
            <td>35349</td>
            <td>2009/07/27</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA321J</td>
            <td>35350</td>
            <td>2009/07/30</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA322J</td>
            <td>35351</td>
            <td>2009/09/24</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA323J</td>
            <td>35352</td>
            <td>2009/10/16</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA324J</td>
            <td>35353</td>
            <td>2009/12/24</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA325J</td>
            <td>35354</td>
            <td>2009/12/24</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA326J</td>
            <td>35355</td>
            <td>2010/02/02</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA327J</td>
            <td>35356</td>
            <td>2010/03/10</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA328J</td>
            <td>35357</td>
            <td>2010/05/25</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA329J</td>
            <td>35358</td>
            <td>2010/06/24</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA330J</td>
            <td>35359</td>
            <td>2010/07/23</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA331J</td>
            <td>40346</td>
            <td>2010/08/17</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA332J</td>
            <td>40347</td>
            <td>2010/10/04</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA333J</td>
            <td>40348</td>
            <td>2010/11/16</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA334J</td>
            <td>40349</td>
            <td>2010/12/13</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA335J</td>
            <td>40350</td>
            <td>2011/01/28</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA336J</td>
            <td>40351</td>
            <td>2011/02/10</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA337J</td>
            <td>40352</td>
            <td>2011/04/12</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA338J</td>
            <td>40355</td>
            <td>2011/04/19</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA339J</td>
            <td>40354</td>
            <td>2011/06/28</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA340J</td>
            <td>39190</td>
            <td>2012/01/25</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA341J</td>
            <td>40356</td>
            <td>2012/02/01</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA342J</td>
            <td>39191</td>
            <td>2012/04/19</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA343J</td>
            <td>39192</td>
            <td>2012/05/31</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA344J</td>
            <td>39193</td>
            <td>2012/06/21</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA345J</td>
            <td>40947</td>
            <td>2012/06/08</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA346J</td>
            <td>40948</td>
            <td>2012/06/29</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA347J</td>
            <td>39194</td>
            <td>2012/07/18</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA348J</td>
            <td>40353</td>
            <td>2012/08/03</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA349J</td>
            <td>40910</td>
            <td>2012/08/29</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JAL</th>
            <td>B737-800</td>
            <td>JA350J</td>
            <td>40954</td>
            <td>2013/09/26</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>JTA</th>
            <td>B737-400</td>
            <td>JA8993</td>
            <td>28087</td>
            <td>1996/08/28</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JTA</th>
            <td>B737-400</td>
            <td>JA8994</td>
            <td>28097</td>
            <td>1997/07/23</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JTA</th>
            <td>B737-400</td>
            <td>JA8995</td>
            <td>28831</td>
            <td>1997/07/30</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JTA</th>
            <td>B737-400</td>
            <td>JA8996</td>
            <td>28832</td>
            <td>1997/11/17</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JTA</th>
            <td>B737-400</td>
            <td>JA8998</td>
            <td>28995</td>
            <td>1998/06/26</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JTA</th>
            <td>B737-400</td>
            <td>JA8999</td>
            <td>29864</td>
            <td>1999/06/09</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JTA</th>
            <td>B737-800</td>
            <td>JA01RK</td>
            <td>61475</td>
            <td>2016/01/21</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JTA</th>
            <td>B737-800</td>
            <td>JA02RK</td>
            <td>61476</td>
            <td>2016/07/26</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JTA</th>
            <td>B737-800</td>
            <td>JA03RK</td>
            <td>61477</td>
            <td>2017/01/20</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JTA</th>
            <td>B737-800</td>
            <td>JA04RK</td>
            <td>61478</td>
            <td>2017/05/25</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JTA</th>
            <td>B737-800</td>
            <td>JA05RK</td>
            <td>61479</td>
            <td>2017/09/13</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JTA</th>
            <td>B737-800</td>
            <td>JA06RK</td>
            <td>61480</td>
            <td>2017/12/21</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JTA</th>
            <td>B737-800</td>
            <td>JA07RK</td>
            <td>61481</td>
            <td>2018/03/23</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JTA</th>
            <td>B737-800</td>
            <td>JA08RK</td>
            <td>61482</td>
            <td>2018/05/22</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JTA</th>
            <td>B737-800</td>
            <td>JA09RK</td>
            <td>61483</td>
            <td>2018/12/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>JTA</th>
            <td>B737-800</td>
            <td>JA10RK</td>
            <td>61484</td>
            <td>2018/12/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>JTA</th>
            <td>B737-800</td>
            <td>JA11RK</td>
            <td>61485</td>
            <td>2019/04/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>JTA</th>
            <td>B737-800</td>
            <td>JA12RK</td>
            <td>61486</td>
            <td>2019/06/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E170</td>
            <td>JA211J</td>
            <td>17000251</td>
            <td>2008/10/31</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E170</td>
            <td>JA212J</td>
            <td>17000268</td>
            <td>2009/01/22</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E170</td>
            <td>JA213J</td>
            <td>17000285</td>
            <td>2009/05/28</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E170</td>
            <td>JA214J</td>
            <td>17000295</td>
            <td>2009/09/24</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E170</td>
            <td>JA215J</td>
            <td>17000297</td>
            <td>2009/10/15</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E170</td>
            <td>JA216J</td>
            <td>17000299</td>
            <td>2009/11/18</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E170</td>
            <td>JA217J</td>
            <td>17000308</td>
            <td>2010/04/15</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E170</td>
            <td>JA218J</td>
            <td>17000314</td>
            <td>2010/09/22</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E170</td>
            <td>JA219J</td>
            <td>17000315</td>
            <td>2010/10/07</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E170</td>
            <td>JA220J</td>
            <td>17000322</td>
            <td>2011/02/09</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E170</td>
            <td>JA221J</td>
            <td>17000353</td>
            <td>2012/11/26</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E170</td>
            <td>JA222J</td>
            <td>17000356</td>
            <td>2013/03/13</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E170</td>
            <td>JA223J</td>
            <td>17000362</td>
            <td>2013/07/04</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E170</td>
            <td>JA224J</td>
            <td>17000379</td>
            <td>2013/12/12</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E170</td>
            <td>JA225J</td>
            <td>17000389</td>
            <td>2014/03/19</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E170</td>
            <td>JA226J</td>
            <td>17000514</td>
            <td>2015/10/27</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E170</td>
            <td>JA227J</td>
            <td>17000524</td>
            <td>2015/12/02</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E170</td>
            <td>JA228J</td>
            <td>17000720</td>
            <td>2018/04/26</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E190</td>
            <td>JA241J</td>
            <td>19000708</td>
            <td>2016/04/19</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E190</td>
            <td>JA242J</td>
            <td>19000712</td>
            <td>2016/06/22</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E190</td>
            <td>JA243J</td>
            <td>19000718</td>
            <td>2016/08/24</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E190</td>
            <td>JA244J</td>
            <td>19000722</td>
            <td>2016/11/24</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E190</td>
            <td>JA245J</td>
            <td>19000724</td>
            <td>2016/12/21</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E190</td>
            <td>JA246J</td>
            <td>19000728</td>
            <td>2017/04/12</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E190</td>
            <td>JA247J</td>
            <td>19000730</td>
            <td>2017/05/31</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E190</td>
            <td>JA248J</td>
            <td>19000731</td>
            <td>2017/07/13</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E190</td>
            <td>JA249J</td>
            <td>19000735</td>
            <td>2017/08/18</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E190</td>
            <td>JA250J</td>
            <td>19000741</td>
            <td>2017/10/26</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E190</td>
            <td>JA251J</td>
            <td>19000742</td>
            <td>2017/12/07</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E190</td>
            <td>JA252J</td>
            <td>19000748</td>
            <td>2018/01/31</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E190</td>
            <td>JA253J</td>
            <td>19000753</td>
            <td>2018/04/25</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>J-AIR</th>
            <td>E190</td>
            <td>JA254J</td>
            <td>19000757</td>
            <td>2018/07/24</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAC</th>
            <td>DHC-8-Q400</td>
            <td>JA844C</td>
            <td>4092</td>
            <td>2004/06/25</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAC</th>
            <td>DHC-8-Q400</td>
            <td>JA846C</td>
            <td>4107</td>
            <td>2005/07/29</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAC</th>
            <td>DHC-8-Q400</td>
            <td>JA850C</td>
            <td>4158</td>
            <td>2007/05/10</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAC</th>
            <td>DHC-8-Q400</td>
            <td>JA851C</td>
            <td>4177</td>
            <td>2007/11/06</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAC</th>
            <td>ATR42-600</td>
            <td>JA01JC</td>
            <td>1215</td>
            <td>2017/01/20</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAC</th>
            <td>ATR42-600</td>
            <td>JA02JC</td>
            <td>1218</td>
            <td>2017/09/22</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAC</th>
            <td>ATR42-600</td>
            <td>JA03JC</td>
            <td>1401</td>
            <td>2018/01/30</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAC</th>
            <td>ATR42-600</td>
            <td>JA04JC</td>
            <td>1402</td>
            <td>2018/03/29</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAC</th>
            <td>ATR42-600</td>
            <td>JA05JC</td>
            <td>1404</td>
            <td>2018/06/29</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAC</th>
            <td>ATR42-600</td>
            <td>JA06JC</td>
            <td></td>
            <td>2018/10/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>JAC</th>
            <td>ATR42-600</td>
            <td>JA07JC</td>
            <td></td>
            <td>2019/01/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>JAC</th>
            <td>ATR42-600</td>
            <td>JA08JC</td>
            <td></td>
            <td>2019/06/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>JAC</th>
            <td>ATR42-600</td>
            <td>JA09JC</td>
            <td></td>
            <td>2019/09/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>JAC</th>
            <td>Saab340</td>
            <td>JA8703</td>
            <td>340B-355</td>
            <td>1994/01/19</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAC</th>
            <td>Saab340</td>
            <td>JA8642</td>
            <td>340B-365</td>
            <td>1994/12/16</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAC</th>
            <td>Saab340</td>
            <td>JA8900</td>
            <td>340B-378</td>
            <td>1996/01/11</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAC</th>
            <td>Saab340</td>
            <td>JA8594</td>
            <td>340B-399</td>
            <td>1996/07/02</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAC</th>
            <td>Saab340</td>
            <td>JA001C</td>
            <td>340B-419</td>
            <td>1997/06/19</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>JAC</th>
            <td>Saab340</td>
            <td>JA002C</td>
            <td>340B-459</td>
            <td>1999/09/13</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>RAC</th>
            <td>DHC-8-Q400CC</td>
            <td>JA81RC</td>
            <td>4505</td>
            <td>2016/01/12</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>RAC</th>
            <td>DHC-8-Q400CC</td>
            <td>JA82RC</td>
            <td>4519</td>
            <td>2016/03/16</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>RAC</th>
            <td>DHC-8-Q400CC</td>
            <td>JA83RC</td>
            <td>4545</td>
            <td>2017/01/05</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>RAC</th>
            <td>DHC-8-Q400CC</td>
            <td>JA84RC</td>
            <td>4550</td>
            <td>2017/03/15</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>RAC</th>
            <td>DHC-8-Q400CC</td>
            <td>JA85RC</td>
            <td>4570</td>
            <td>2017/12/13</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>HAC</th>
            <td>Saab340</td>
            <td>JA01HC</td>
            <td>340B-432</td>
            <td>1998/02/04</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>HAC</th>
            <td>Saab340</td>
            <td>JA02HC</td>
            <td>340B-440</td>
            <td>1998/06/04</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>HAC</th>
            <td>Saab340</td>
            <td>JA03HC</td>
            <td>340B-458</td>
            <td>1999/09/01</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
    </tbody>
    </table>
@section ScriptsPartial{
    <script tyep="text/javascript">
$(document).ready(function() {
            $.extend( $.fn.dataTable.defaults, {
                language: {
                    url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
                }
            });
            $('#JAL').DataTable({
                "paging":   false,
                "ordering": false,
                "columnDefs": [{
                    "targets": '_all',
                    "className": 'dt-center'
                }]
            });
        } );
    </script>
}