@{
    ViewData["Title"] = "JALグループ";
}

<h2>@ViewData["Title"]</h2>

<table id="JAL" class="display cell-border compact dt-body-center" style="width:100%">
    <thead>
        <tr>
            <th>航空会社</th>
            <th>機種</th>
            <th>機体記号</th>
            <th>製造番号</th>
            <th>登録（予定）年月日</th>
            <th>運用</th>
            <th>Wi-Fi</th>
            <th>備考（特別塗装など）</th>
        </tr>
    </thead>
</table>
@section ScriptsPartial{
<script tyep="text/javascript">
$(document).ready(function() {
    setupTable('#JAL','/JAL/Data');
        } );
</script>
}