@{
    ViewData["Title"] = "その他航空会社";
}

<h2>@ViewData["Title"]</h2>

<table id="other" class="display cell-border compact dt-body-center" style="width:100%">
    <thead>
        <tr>
            <th>航空会社</th>
            <th>機種</th>
            <th>機体記号</th>
            <th>製造番号</th>
            <th>エンジン</th>
            <th>登録（予定）年月日</th>
            <th>Wi-Fi装備</th>
            <th>国際/国内</th>
            <th>備考（特別塗装など）</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA737N</td>
            <td>32845</td>
            <td>CFM56-7B26</td>
            <td>2007/08/10</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA737Q</td>
            <td>35228</td>
            <td>CFM56-7B26</td>
            <td>2008/06/05</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA737R</td>
            <td>35630</td>
            <td>CFM56-7B26</td>
            <td>2008/07/15</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA737T</td>
            <td>35290</td>
            <td>CFM56-7B26</td>
            <td>2009/03/12</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA737U</td>
            <td>29680</td>
            <td>CFM56-7B26</td>
            <td>2009/05/01</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA737X</td>
            <td>36692</td>
            <td>CFM56-7B26</td>
            <td>2009/11/17</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA737Y</td>
            <td>29663</td>
            <td>CFM56-7B26</td>
            <td>2009/12/09</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA737Z</td>
            <td>40712</td>
            <td>CFM56-7B26</td>
            <td>2010/06/23</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73NA</td>
            <td>36849</td>
            <td>CFM56-7B26</td>
            <td>2010/08/18</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73NC</td>
            <td>31743</td>
            <td>CFM56-7B26</td>
            <td>2010/10/29</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73ND</td>
            <td>33440</td>
            <td>CFM56-7B26</td>
            <td>2010/11/19</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73NE</td>
            <td>40713</td>
            <td>CFM56-7B26</td>
            <td>2010/12/22</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73NF</td>
            <td>38019</td>
            <td>CFM56-7B26</td>
            <td>2011/05/12</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73NG</td>
            <td>36821</td>
            <td>CFM56-7B26</td>
            <td>2011/08/12</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73NJ</td>
            <td>39405</td>
            <td>CFM56-7B26</td>
            <td>2011/11/22</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73NK</td>
            <td>38023</td>
            <td>CFM56-7B26</td>
            <td>2012/01/11</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73NL</td>
            <td>38104</td>
            <td>CFM56-7B26</td>
            <td>2012/02/24</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73NM</td>
            <td>39421</td>
            <td>CFM56-7B26</td>
            <td>2012/02/24</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73NN</td>
            <td>39422</td>
            <td>CFM56-7B26</td>
            <td>2012/03/28</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73NP</td>
            <td>38109</td>
            <td>CFM56-7B26</td>
            <td>2012/05/16</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73NQ</td>
            <td>39432</td>
            <td>CFM56-7B26</td>
            <td>2013/01/18</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73NR</td>
            <td>39927</td>
            <td>CFM56-7B26</td>
            <td>2013/02/13</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73NT</td>
            <td>41264</td>
            <td>CFM56-7B26</td>
            <td>2013/05/22</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73NU</td>
            <td>38046</td>
            <td>CFM56-7B26</td>
            <td>2013/06/28</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73NX</td>
            <td>38045</td>
            <td>CFM56-7B26</td>
            <td>2013/09/18</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73NY</td>
            <td>41263</td>
            <td>CFM56-7B26</td>
            <td>2013/10/04</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73AA</td>
            <td>63413</td>
            <td>CFM56-7B26</td>
            <td>2018/08/xx</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73AB</td>
            <td>63408</td>
            <td>CFM56-7B26</td>
            <td></td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スカイマーク</th>
            <td>B737-800</td>
            <td>JA73AC</td>
            <td>63410</td>
            <td>CFM56-7B26</td>
            <td>2019/05/xx</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エア・ドゥ</th>
            <td>B767-300ER</td>
            <td>JA01HD</td>
            <td>28159</td>
            <td>CF6-80C2B7F</td>
            <td>2000/04/27</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エア・ドゥ</th>
            <td>B767-300ER</td>
            <td>JA98AD</td>
            <td>27476</td>
            <td>CF6-80C2B6F</td>
            <td>1998/03/30</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エア・ドゥ</th>
            <td>B767-300</td>
            <td>JA601A</td>
            <td>27943</td>
            <td>CF6-80C2B2</td>
            <td>1997/08/08</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エア・ドゥ</th>
            <td>B767-300</td>
            <td>JA602A</td>
            <td>27944</td>
            <td>CF6-80C2B2</td>
            <td>1998/01/21</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エア・ドゥ</th>
            <td>B737-700</td>
            <td>JA01AN</td>
            <td>33916</td>
            <td>CFM56-7B24</td>
            <td>2005/11/22</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エア・ドゥ</th>
            <td>B737-700</td>
            <td>JA07AN</td>
            <td>33900</td>
            <td>CFM56-7B24</td>
            <td>2006/10/11</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エア・ドゥ</th>
            <td>B737-700</td>
            <td>JA08AN</td>
            <td>33877</td>
            <td>CFM56-7B24</td>
            <td>2006/10/26</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エア・ドゥ</th>
            <td>B737-700</td>
            <td>JA09AN</td>
            <td>33878</td>
            <td>CFM56-7B24</td>
            <td>2007/01/11</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エア・ドゥ</th>
            <td>B737-700</td>
            <td>JA11AN</td>
            <td>33881</td>
            <td>CFM56-7B24</td>
            <td>2007/06/29</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エア・ドゥ</th>
            <td>B737-700</td>
            <td>JA12AN</td>
            <td>33882</td>
            <td>CFM56-7B24</td>
            <td>2007/05/23</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エア・ドゥ</th>
            <td>B737-700</td>
            <td>JA14AN</td>
            <td>33883</td>
            <td>CFM56-7B24</td>
            <td>2007/09/11</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エア・ドゥ</th>
            <td>B737-700</td>
            <td>JA15AN</td>
            <td>33888</td>
            <td>CFM56-7B24</td>
            <td>2007/10/11</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エア・ドゥ</th>
            <td>B737-700</td>
            <td>JA16AN</td>
            <td>33889</td>
            <td>CFM56-7B24</td>
            <td>2008/01/24</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ソラシドエア</th>
            <td>B737-800</td>
            <td>JA801X</td>
            <td>39415</td>
            <td>CFM56-7B26</td>
            <td>2011/06/22</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ソラシドエア</th>
            <td>B737-800</td>
            <td>JA802X</td>
            <td>39418</td>
            <td>CFM56-7B26</td>
            <td>2011/10/26</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ソラシドエア</th>
            <td>B737-800</td>
            <td>JA803X</td>
            <td>39395</td>
            <td>CFM56-7B26</td>
            <td>2012/02/07</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ソラシドエア</th>
            <td>B737-800</td>
            <td>JA804X</td>
            <td>38026</td>
            <td>CFM56-7B26</td>
            <td>2012/05/01</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ソラシドエア</th>
            <td>B737-800</td>
            <td>JA805X</td>
            <td>38035</td>
            <td>CFM56-7B26</td>
            <td>2013/01/31</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ソラシドエア</th>
            <td>B737-800</td>
            <td>JA806X</td>
            <td>38036</td>
            <td>CFM56-7B26</td>
            <td>2013/02/13</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ソラシドエア</th>
            <td>B737-800</td>
            <td>JA807X</td>
            <td>39431</td>
            <td>CFM56-7B26</td>
            <td>2013/07/12</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ソラシドエア</th>
            <td>B737-800</td>
            <td>JA808X</td>
            <td>39433</td>
            <td>CFM56-7B26</td>
            <td>2013/09/19</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ソラシドエア</th>
            <td>B737-800</td>
            <td>JA809X</td>
            <td>41247</td>
            <td>CFM56-7B26</td>
            <td>2014/03/19</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ソラシドエア</th>
            <td>B737-800</td>
            <td>JA810X</td>
            <td>41271</td>
            <td>CFM56-7B26</td>
            <td>2014/05/22</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ソラシドエア</th>
            <td>B737-800</td>
            <td>JA811X</td>
            <td>43406</td>
            <td>CFM56-7B26</td>
            <td>2014/09/04</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ソラシドエア</th>
            <td>B737-800</td>
            <td>JA812X</td>
            <td>43402</td>
            <td>CFM56-7B26</td>
            <td>2015/03/17</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スターフライヤー</th>
            <td>A320-200</td>
            <td>JA05MC</td>
            <td>4555</td>
            <td>CFM56-5B4/P</td>
            <td>2011/02/01</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スターフライヤー</th>
            <td>A320-200</td>
            <td>JA06MC</td>
            <td>4720</td>
            <td>CFM56-5B4/P</td>
            <td>2011/06/01</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スターフライヤー</th>
            <td>A320-200</td>
            <td>JA07MC</td>
            <td>5102</td>
            <td>CFM56-5B4/P</td>
            <td>2012/04/23</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スターフライヤー</th>
            <td>A320-200</td>
            <td>JA08MC</td>
            <td>5393</td>
            <td>CFM56-5B4/P</td>
            <td>2012/12/11</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スターフライヤー</th>
            <td>A320-200</td>
            <td>JA09MC</td>
            <td>5512</td>
            <td>CFM56-5B4/P</td>
            <td>2013/03/21</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スターフライヤー</th>
            <td>A320-200</td>
            <td>JA20MC</td>
            <td>5652</td>
            <td>CFM56-5B4/P</td>
            <td>2013/06/27</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スターフライヤー</th>
            <td>A320-200</td>
            <td>JA21MC</td>
            <td>5773</td>
            <td>CFM56-5B4/P</td>
            <td>2013/09/17</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スターフライヤー</th>
            <td>A320-200</td>
            <td>JA22MC</td>
            <td>5862</td>
            <td>CFM56-5B4/P</td>
            <td>2013/11/18</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スターフライヤー</th>
            <td>A320-200</td>
            <td>JA23MC</td>
            <td>5931</td>
            <td>CFM56-5B4/P</td>
            <td>2014/01/21</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スターフライヤー</th>
            <td>A320-200</td>
            <td>JA24MC</td>
            <td>7414</td>
            <td>CFM56-5B4/P</td>
            <td>2016/12/16</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>スターフライヤー</th>
            <td>A320-200</td>
            <td>JA25MC</td>
            <td>8334</td>
            <td>CFM56-5B4/P</td>
            <td>2018/06/22</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>フジドリームエアラインズ</th>
            <td>E170</td>
            <td>JA01FJ</td>
            <td>17000274</td>
            <td>CF34-8E</td>
            <td>2009/02/18</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>フジドリームエアラインズ</th>
            <td>E170</td>
            <td>JA02FJ</td>
            <td>17000289</td>
            <td>CF34-8E</td>
            <td>2009/06/09</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>フジドリームエアラインズ</th>
            <td>E170</td>
            <td>JA04FJ</td>
            <td>17000129</td>
            <td>CF34-8E</td>
            <td>2010/10/06</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>フジドリームエアラインズ</th>
            <td>E170</td>
            <td>JA03FJ</td>
            <td>17000304</td>
            <td>CF34-8E</td>
            <td>2010/01/18</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>フジドリームエアラインズ</th>
            <td>E175</td>
            <td>JA05FJ</td>
            <td>17000317</td>
            <td>CF34-8E</td>
            <td>2010/10/21</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>フジドリームエアラインズ</th>
            <td>E175</td>
            <td>JA06FJ</td>
            <td>17000332</td>
            <td>CF34-8E</td>
            <td>2011/11/25</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>フジドリームエアラインズ</th>
            <td>E175</td>
            <td>JA07FJ</td>
            <td>17000361</td>
            <td>CF34-8E</td>
            <td>2013/06/26</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>フジドリームエアラインズ</th>
            <td>E175</td>
            <td>JA08FJ</td>
            <td>17000391</td>
            <td>CF34-8E</td>
            <td>2014/02/26</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>フジドリームエアラインズ</th>
            <td>E175</td>
            <td>JA09FJ</td>
            <td>17000464</td>
            <td>CF34-8E</td>
            <td>2015/03/18</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>フジドリームエアラインズ</th>
            <td>E175</td>
            <td>JA10FJ</td>
            <td>17000516</td>
            <td>CF34-8E</td>
            <td>2016/03/04</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>フジドリームエアラインズ</th>
            <td>E175</td>
            <td>JA11FJ</td>
            <td>17000526</td>
            <td>CF34-8E</td>
            <td>2016/06/08</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>フジドリームエアラインズ</th>
            <td>E175</td>
            <td>JA12FJ</td>
            <td>17000712</td>
            <td>CF34-8E</td>
            <td>2018/03/09</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>フジドリームエアラインズ</th>
            <td>E175</td>
            <td>JA13FJ</td>
            <td></td>
            <td>CF34-8E</td>
            <td>2019/03/xx</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>フジドリームエアラインズ</th>
            <td>E175</td>
            <td>JA14FJ</td>
            <td></td>
            <td>CF34-8E</td>
            <td>2020/03/xx</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>アイベックスエアラインズ</th>
            <td>CRJ700</td>
            <td>JA05RJ</td>
            <td>10279</td>
            <td>CF34-8C5B1</td>
            <td>2009/07/31</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>アイベックスエアラインズ</th>
            <td>CRJ700</td>
            <td>JA06RJ</td>
            <td>10303</td>
            <td>CF34-8C5B1</td>
            <td>2010/06/08</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>アイベックスエアラインズ</th>
            <td>CRJ700</td>
            <td>JA07RJ</td>
            <td>10327</td>
            <td>CF34-8C5B1</td>
            <td>2011/07/12</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>アイベックスエアラインズ</th>
            <td>CRJ700</td>
            <td>JA08RJ</td>
            <td>10333</td>
            <td>CF34-8C5B1</td>
            <td>2012/05/31</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>アイベックスエアラインズ</th>
            <td>CRJ700</td>
            <td>JA09RJ</td>
            <td>10334</td>
            <td>CF34-8C5B1</td>
            <td>2013/02/28</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>アイベックスエアラインズ</th>
            <td>CRJ700</td>
            <td>JA10RJ</td>
            <td>10340</td>
            <td>CF34-8C5B1</td>
            <td>2014/10/08</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>アイベックスエアラインズ</th>
            <td>CRJ700</td>
            <td>JA11RJ</td>
            <td>10344</td>
            <td>CF34-8C5B1</td>
            <td>2015/06/24</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>アイベックスエアラインズ</th>
            <td>CRJ700</td>
            <td>JA12RJ</td>
            <td>10345</td>
            <td>CF34-8C5B1</td>
            <td>2016/06/29</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>アイベックスエアラインズ</th>
            <td>CRJ700</td>
            <td>JA13RJ</td>
            <td>10346</td>
            <td>CF34-8C5B1</td>
            <td>2017/05/31</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>アイベックスエアラインズ</th>
            <td>CRJ700</td>
            <td>JA14RJ</td>
            <td>10347</td>
            <td>CF34-8C5B1</td>
            <td>2018/05/01</td>
            <td>×</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    </table>
@section ScriptsPartial{
    <script tyep="text/javascript">
$(document).ready(function() {
            $.extend( $.fn.dataTable.defaults, {
                language: {
                    url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
                }
            });
            $('#other').DataTable({
                "paging":   false,
                "ordering": false,
                "columnDefs": [{
                    "targets": '_all',
                    "className": 'dt-center'
                }]
            });
        } );
    </script>
}