@{
    ViewData["Title"] = "Top";
}

<h1>JA-Fleet</h1>
<h4>【本邦航空会社機材一覧サイト】</h4>
<a asp-area="" asp-controller="ANA" asp-action="Index"><h3>ANAグループ</h3></a>
<a asp-area="" asp-controller="JAL" asp-action="Index"><h3>JALグループ</h3></a>
<a asp-area="" asp-controller="LCC" asp-action="Index"><h3>LCC</h3></a>
<a asp-area="" asp-controller="Other" asp-action="Index"><h3>その他航空会社</h3></a>
<hr />
    更新情報アカウント：<a href="https://twitter.com/ja_fleet">@@JA-Fleet</a><br />
    管理者：<a href="https://twitter.com/noobow">ぬーぼー（@@noobow）</a><br />
