@{
    ViewData["Title"] = "ANAグループ";
}

<h2>@ViewData["Title"]</h2>

<table id="ANA" class="display cell-border compact dt-body-center" style="width:100%">
    <thead>
        <tr>
            <th>航空会社</th>
            <th>機種</th>
            <th>機体記号</th>
            <th>製造番号</th>
            <th>エンジン</th>
            <th>登録（予定）年月日</th>
            <th>Wi-Fi</th>
            <th>備考（特別塗装など）</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA731A</td>
            <td>28281</td>
            <td>GE90-115B</td>
            <td>2004/10/29</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA732A</td>
            <td>27038</td>
            <td>GE90-115B</td>
            <td>2005/4/26</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA733A</td>
            <td>32648</td>
            <td>GE90-115B</td>
            <td>2005/10/21</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA734A</td>
            <td>32649</td>
            <td>GE90-115B</td>
            <td>2006/3/24</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA735A</td>
            <td>34892</td>
            <td>GE90-115B</td>
            <td>2006/6/16</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA736A</td>
            <td>34893</td>
            <td>GE90-115B</td>
            <td>2006/9/28</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA777A</td>
            <td>32650</td>
            <td>GE90-115B</td>
            <td>2006/10/20</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA778A</td>
            <td>32651</td>
            <td>GE90-115B</td>
            <td>2007/1/26</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA779A</td>
            <td>34894</td>
            <td>GE90-115B</td>
            <td>2007/4/27</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA780A</td>
            <td>34895</td>
            <td>GE90-115B</td>
            <td>2007/6/1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA781A</td>
            <td>27041</td>
            <td>GE90-115B</td>
            <td>2007/9/26</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA782A</td>
            <td>33416</td>
            <td>GE90-115B</td>
            <td>2008/1/25</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA783A</td>
            <td>27940</td>
            <td>GE90-115B</td>
            <td>2008/8/1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA784A</td>
            <td>37950</td>
            <td>GE90-115B</td>
            <td>2010/1/5</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA785A</td>
            <td>37951</td>
            <td>GE90-115B</td>
            <td>2010/3/30</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA786A</td>
            <td>37948</td>
            <td>GE90-115B</td>
            <td>2010/5/18</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA787A</td>
            <td>37949</td>
            <td>GE90-115B</td>
            <td>2010/6/11</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA788A</td>
            <td>40686</td>
            <td>GE90-115B</td>
            <td>2010/7/1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA789A</td>
            <td>40687</td>
            <td>GE90-115B</td>
            <td>2010/7/1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA790A</td>
            <td>60136</td>
            <td>GE90-115B</td>
            <td>2015/3/27</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA791A</td>
            <td>60137</td>
            <td>GE90-115B</td>
            <td>2015/4/23</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA792A</td>
            <td>60138</td>
            <td>GE90-115B</td>
            <td>2015/5/19</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA793A</td>
            <td>-----</td>
            <td>GE90-115B</td>
            <td>19/01/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA794A</td>
            <td>-----</td>
            <td>GE90-115B</td>
            <td>19/03/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA795A</td>
            <td>-----</td>
            <td>GE90-115B</td>
            <td>19/04/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA796A</td>
            <td>-----</td>
            <td>GE90-115B</td>
            <td>19/06/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA797A</td>
            <td>-----</td>
            <td>GE90-115B</td>
            <td>19/10/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA798A</td>
            <td>-----</td>
            <td>GE90-115B</td>
            <td>19/11/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300</td>
            <td>JA751A</td>
            <td>28272</td>
            <td>PW4090</td>
            <td>1998/7/1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300</td>
            <td>JA752A</td>
            <td>28274</td>
            <td>PW4090</td>
            <td>1998/8/28</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300</td>
            <td>JA753A</td>
            <td>28273</td>
            <td>PW4090</td>
            <td>1998/7/30</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300</td>
            <td>JA754A</td>
            <td>27939</td>
            <td>PW4090</td>
            <td>1998/10/21</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300</td>
            <td>JA755A</td>
            <td>28275</td>
            <td>PW4090</td>
            <td>1999/4/7</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300</td>
            <td>JA756A</td>
            <td>27039</td>
            <td>PW4090</td>
            <td>2003/5/31</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300</td>
            <td>JA757A</td>
            <td>27040</td>
            <td>PW4090</td>
            <td>2003/6/12</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA707A</td>
            <td>27037</td>
            <td>PW4090</td>
            <td>1999/10/7</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA708A</td>
            <td>28277</td>
            <td>PW4090</td>
            <td>2000/5/11</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA709A</td>
            <td>28278</td>
            <td>PW4090</td>
            <td>2000/6/16</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA710A</td>
            <td>28279</td>
            <td>PW4090</td>
            <td>2000/10/4</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA715A</td>
            <td>32646</td>
            <td>PW4090</td>
            <td>2006/5/11</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA716A</td>
            <td>33414</td>
            <td>PW4090</td>
            <td>2006/6/29</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA717A</td>
            <td>33415</td>
            <td>PW4090</td>
            <td>2006/8/9</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA741A</td>
            <td>40900</td>
            <td>PW4074D</td>
            <td>2012/4/20</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA742A</td>
            <td>40901</td>
            <td>PW4074D</td>
            <td>2012/5/24</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA743A</td>
            <td>40902</td>
            <td>PW4074D</td>
            <td>2013/3/29</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA744A</td>
            <td>40903</td>
            <td>PW4074D</td>
            <td>2013/5/30</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA745A</td>
            <td>40904</td>
            <td>PW4074D</td>
            <td>2013/6/21</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200</td>
            <td>JA8969</td>
            <td>27032</td>
            <td>PW4074</td>
            <td>1996/12/17</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200</td>
            <td>JA701A</td>
            <td>27938</td>
            <td>PW4074</td>
            <td>1997/6/24</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200</td>
            <td>JA702A</td>
            <td>27033</td>
            <td>PW4074</td>
            <td>1997/7/1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200</td>
            <td>JA703A</td>
            <td>27034</td>
            <td>PW4074</td>
            <td>1997/8/22</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200</td>
            <td>JA704A</td>
            <td>27035</td>
            <td>PW4074</td>
            <td>1998/3/27</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200</td>
            <td>JA705A</td>
            <td>27029</td>
            <td>PW4074</td>
            <td>1998/4/28</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200</td>
            <td>JA706A</td>
            <td>27036</td>
            <td>PW4074</td>
            <td>1998/5/21</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200</td>
            <td>JA711A</td>
            <td>33406</td>
            <td>PW4074</td>
            <td>2004/6/22</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200</td>
            <td>JA712A</td>
            <td>33407</td>
            <td>PW4074</td>
            <td>2004/10/26</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200</td>
            <td>JA713A</td>
            <td>32647</td>
            <td>PW4074</td>
            <td>2005/3/27</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200</td>
            <td>JA714A</td>
            <td>28276</td>
            <td>PW4074</td>
            <td>2005/6/29</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-10</td>
            <td>JA900A</td>
            <td>-----</td>
            <td>----------</td>
            <td>19/03/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-10</td>
            <td>JA903A</td>
            <td>-----</td>
            <td>----------</td>
            <td>19/05/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-10</td>
            <td>JA925A</td>
            <td>-----</td>
            <td>----------</td>
            <td>20/09/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA830A</td>
            <td>34522</td>
            <td>Trent1000-A2</td>
            <td>2014/7/28</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA833A</td>
            <td>34524</td>
            <td>Trent1000-A2</td>
            <td>2014/9/26</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA836A</td>
            <td>34527</td>
            <td>Trent1000-K</td>
            <td>2015/4/22</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA837A</td>
            <td>34526</td>
            <td>Trent1000-K</td>
            <td>2015/6/1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA839A</td>
            <td>34529</td>
            <td>Trent1000-K</td>
            <td>2015/7/1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA871A</td>
            <td>34534</td>
            <td>Trent1000-K</td>
            <td>2015/7/28</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA872A</td>
            <td>34504</td>
            <td>Trent1000-K</td>
            <td>2015/8/27</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA873A</td>
            <td>34530</td>
            <td>Trent1000-K</td>
            <td>2015/9/30</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA875A</td>
            <td>34531</td>
            <td>Trent1000-K</td>
            <td>2015/11/24</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA876A</td>
            <td>43871</td>
            <td>Trent1000-K</td>
            <td>2016/3/31</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA877A</td>
            <td>34532</td>
            <td>Trent1000-K</td>
            <td>2016/3/22</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA879A</td>
            <td>43869</td>
            <td>Trent1000-D2</td>
            <td>2016/7/21</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA880A</td>
            <td>34533</td>
            <td>Trent1000-K</td>
            <td>2016/7/27</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA882A</td>
            <td>43872</td>
            <td>Trent1000-D2</td>
            <td>2016/8/17</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA883A</td>
            <td>43873</td>
            <td>Trent1000-D2</td>
            <td>2016/9/6</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA884A</td>
            <td>43523</td>
            <td>Trent1000-D2</td>
            <td>2016/9/21</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA885A</td>
            <td>43870</td>
            <td>Trent1000-D2</td>
            <td>2016/10/5</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA886A</td>
            <td>61522</td>
            <td>Trent1000-D2</td>
            <td>2016/10/25</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA887A</td>
            <td>43874</td>
            <td>Trent1000-D2</td>
            <td>2016/11/22</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA888A</td>
            <td>43864</td>
            <td>Trent1000-D2</td>
            <td>2016/11/7</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA890A</td>
            <td>34500</td>
            <td>Trent1000-D2</td>
            <td>2016/12/9</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA891A</td>
            <td>54534</td>
            <td>Trent1000-K</td>
            <td>2017/4/18</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA892A</td>
            <td>34513</td>
            <td>Trent1000-K</td>
            <td>2017/6/13</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA893A</td>
            <td>61519</td>
            <td>Trent1000-D2</td>
            <td>17/07/2-</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA894A</td>
            <td>34517</td>
            <td>Trent1000-D2</td>
            <td>17/09/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA895A</td>
            <td>61520</td>
            <td>Trent1000-D2</td>
            <td>17/10/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA896A</td>
            <td>-----</td>
            <td>Trent1000-D2</td>
            <td>17/12/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA897A</td>
            <td>-----</td>
            <td>Trent1000?</td>
            <td>18/--/--?</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA898A</td>
            <td>-----</td>
            <td>Trent1000?</td>
            <td>18/--/--?</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA899A</td>
            <td>-----</td>
            <td>Trent1000?</td>
            <td>18/--/--?</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA901A</td>
            <td>-----</td>
            <td>Trent1000?</td>
            <td>19/05/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA902A</td>
            <td>-----</td>
            <td>Trent1000?</td>
            <td>19/05/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA904A</td>
            <td>-----</td>
            <td>Trent1000?</td>
            <td>19/07/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA905A</td>
            <td>-----</td>
            <td>Trent1000?</td>
            <td>19/08/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA921A</td>
            <td>-----</td>
            <td>Trent1000?</td>
            <td>19/08/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA922A</td>
            <td>-----</td>
            <td>Trent1000?</td>
            <td>19/11/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA923A</td>
            <td>-----</td>
            <td>Trent1000?</td>
            <td>20/05/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA924A</td>
            <td>-----</td>
            <td>Trent1000?</td>
            <td>20/08/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA926A</td>
            <td>-----</td>
            <td>Trent1000?</td>
            <td>20/10/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA927A</td>
            <td>-----</td>
            <td>Trent1000?</td>
            <td>20/11/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA928A</td>
            <td>-----</td>
            <td>Trent1000?</td>
            <td>21/05/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA929A</td>
            <td>-----</td>
            <td>Trent1000?</td>
            <td>21/06/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA930A</td>
            <td>-----</td>
            <td>Trent1000?</td>
            <td>21/07/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA931A</td>
            <td>-----</td>
            <td>Trent1000?</td>
            <td>21/08/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA801A</td>
            <td>34488</td>
            <td>Trent1000-A</td>
            <td>2011/9/26</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA802A</td>
            <td>34497</td>
            <td>Trent1000-A</td>
            <td>2011/10/14</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA803A</td>
            <td>34485</td>
            <td>Trent1000-A</td>
            <td>2012/8/23</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA804A</td>
            <td>34486</td>
            <td>Trent1000-A</td>
            <td>2012/1/16</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA805A</td>
            <td>34514</td>
            <td>Trent1000-C</td>
            <td>2012/1/4</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA806A</td>
            <td>34515</td>
            <td>Trent1000-C</td>
            <td>2012/3/29</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA807A</td>
            <td>34508</td>
            <td>Trent1000-A</td>
            <td>2012/1/13</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA808A</td>
            <td>34990</td>
            <td>Trent1000-A</td>
            <td>2012/4/16</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA809A</td>
            <td>34494</td>
            <td>Trent1000-E</td>
            <td>2012/6/21</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA810A</td>
            <td>34506</td>
            <td>Trent1000-E</td>
            <td>2012/6/25</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA811A</td>
            <td>34502</td>
            <td>Trent1000-E</td>
            <td>2012/7/17</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA812A</td>
            <td>40748</td>
            <td>Trent1000-E</td>
            <td>2012/7/2</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA813A</td>
            <td>34521</td>
            <td>Trent1000-C</td>
            <td>2012/8/31</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA814A</td>
            <td>34493</td>
            <td>Trent1000-C</td>
            <td>2012/9/24</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA815A</td>
            <td>40899</td>
            <td>Trent1000-A</td>
            <td>2012/10/1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA816A</td>
            <td>34507</td>
            <td>Trent1000-E</td>
            <td>2012/11/1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA817A</td>
            <td>40749</td>
            <td>Trent1000-E</td>
            <td>2012/12/21</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA818A</td>
            <td>42243</td>
            <td>Trent1000-E</td>
            <td>2013/5/15</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA819A</td>
            <td>42244</td>
            <td>Trent1000-E</td>
            <td>2013/5/31</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA820A</td>
            <td>34511</td>
            <td>Trent1000-L</td>
            <td>2013/6/20</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA821A</td>
            <td>42245</td>
            <td>Trent1000-E</td>
            <td>2013/9/24</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA822A</td>
            <td>34512</td>
            <td>Trent1000-C</td>
            <td>2013/8/21</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA823A</td>
            <td>42246</td>
            <td>Trent1000-L</td>
            <td>2013/8/22</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA824A</td>
            <td>42247</td>
            <td>Trent1000-E</td>
            <td>2014/1/8</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA825A</td>
            <td>34516</td>
            <td>Trent1000-E</td>
            <td>2014/2/6</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA827A</td>
            <td>34509</td>
            <td>Trent1000-L</td>
            <td>2014/2/7</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA828A</td>
            <td>42248</td>
            <td>Trent1000-L</td>
            <td>2014/2/21</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA829A</td>
            <td>34520</td>
            <td>Trent1000-A</td>
            <td>2014/6/5</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA831A</td>
            <td>34496</td>
            <td>Trent1000-A</td>
            <td>2014/8/4</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA832A</td>
            <td>42249</td>
            <td>Trent1000-A</td>
            <td>2014/8/15</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA834A</td>
            <td>40750</td>
            <td>Trent1000-A</td>
            <td>2014/8/21</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA835A</td>
            <td>34525</td>
            <td>Trent1000-A</td>
            <td>2014/12/18</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA838A</td>
            <td>34528</td>
            <td>Trent1000-A</td>
            <td>2015/5/21</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA840A</td>
            <td>34518</td>
            <td>Trent1000-A</td>
            <td>2015/7/31</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA874A</td>
            <td>34503</td>
            <td>Trent1000-A</td>
            <td>2015/11/12</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA878A</td>
            <td>40634</td>
            <td>Trent1000-A</td>
            <td>2016/5/13</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA8971</td>
            <td>27942</td>
            <td>CF6-80C2B6</td>
            <td>1997/3/19</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA604A</td>
            <td>32973</td>
            <td>CF6-80C2B6</td>
            <td>2002/6/27</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA605A</td>
            <td>32974</td>
            <td>CF6-80C2B6</td>
            <td>2002/7/12</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA606A</td>
            <td>32975</td>
            <td>CF6-80C2B6</td>
            <td>2002/7/24</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA607A</td>
            <td>32976</td>
            <td>CF6-80C2B6</td>
            <td>2002/8/9</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA608A</td>
            <td>32977</td>
            <td>CF6-80C2B6</td>
            <td>2002/8/29</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA609A</td>
            <td>32978</td>
            <td>CF6-80C2B6</td>
            <td>2003/4/2</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA610A</td>
            <td>32979</td>
            <td>CF6-80C2B6</td>
            <td>2003/4/15</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA611A</td>
            <td>32980</td>
            <td>CF6-80C2B6</td>
            <td>2003/7/28</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA612A</td>
            <td>33506</td>
            <td>CF6-80C2B6</td>
            <td>2004/4/6</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA613A</td>
            <td>33507</td>
            <td>CF6-80C2B6</td>
            <td>2004/8/6</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA614A</td>
            <td>33508</td>
            <td>CF6-80C2B6</td>
            <td>2005/4/21</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA615A</td>
            <td>35877</td>
            <td>CF6-80C2B6</td>
            <td>2007/1/31</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA616A</td>
            <td>35876</td>
            <td>CF6-80C2B6</td>
            <td>2007/3/23</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA617A</td>
            <td>37719</td>
            <td>CF6-80C2B6</td>
            <td>2008/9/1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA618A</td>
            <td>37720</td>
            <td>CF6-80C2B6</td>
            <td>2009/4/10</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA619A</td>
            <td>36848</td>
            <td>CF6-80C2B6</td>
            <td>2010/9/1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA620A</td>
            <td>40565</td>
            <td>CF6-80C2B6</td>
            <td>2010/11/12</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA621A</td>
            <td>40566</td>
            <td>CF6-80C2B6</td>
            <td>2011/1/18</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA622A</td>
            <td>40567</td>
            <td>CF6-80C2B6</td>
            <td>2011/2/23</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA623A</td>
            <td>40894</td>
            <td>CF6-80C2B6</td>
            <td>2011/3/30</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA624A</td>
            <td>40895</td>
            <td>CF6-80C2B6</td>
            <td>2011/9/1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA625A</td>
            <td>40896</td>
            <td>CF6-80C2B6</td>
            <td>2011/10/3</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA626A</td>
            <td>40897</td>
            <td>CF6-80C2B6</td>
            <td>2012/1/17</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA627A</td>
            <td>40898</td>
            <td>CF6-80C2B6</td>
            <td>2012/3/23</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8322</td>
            <td>25618</td>
            <td>CF6-80C2B2</td>
            <td>1992/10/15</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8324</td>
            <td>25655</td>
            <td>CF6-80C2B2</td>
            <td>1992/11/24</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8567</td>
            <td>25656</td>
            <td>CF6-80C2B2</td>
            <td>1993/8/17</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8568</td>
            <td>25657</td>
            <td>CF6-80C2B2</td>
            <td>1993/9/16</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8578</td>
            <td>25658</td>
            <td>CF6-80C2B2</td>
            <td>1993/11/2</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8579</td>
            <td>25659</td>
            <td>CF6-80C2B2</td>
            <td>1993/12/2</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8569</td>
            <td>27050</td>
            <td>CF6-80C2B2</td>
            <td>1993/12/2</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8670</td>
            <td>25660</td>
            <td>CF6-80C2B2</td>
            <td>1994/5/10</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8674</td>
            <td>25661</td>
            <td>CF6-80C2B2</td>
            <td>1994/6/16</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8677</td>
            <td>25662</td>
            <td>CF6-80C2B2</td>
            <td>1994/8/24</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8669</td>
            <td>27444</td>
            <td>CF6-80C2B2</td>
            <td>1995/3/2</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8342</td>
            <td>27455</td>
            <td>CF6-80C2B2</td>
            <td>1995/4/28</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200</td>
            <td>JA111A</td>
            <td>7346</td>
            <td>CFM56-5B3</td>
            <td>2016/10/28</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200</td>
            <td>JA112A</td>
            <td>7382</td>
            <td>CFM56-5B3</td>
            <td>2016/11/22</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200</td>
            <td>JA113A</td>
            <td>7430</td>
            <td>CFM56-5B3</td>
            <td>2016/12/15</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200</td>
            <td>JA114A</td>
            <td>7493</td>
            <td>CFM56-5B3</td>
            <td>2017/2/1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200N(neo)</td>
            <td>JA131A</td>
            <td>----</td>
            <td>-------</td>
            <td>17/06/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200N(neo)</td>
            <td>JA132A</td>
            <td>----</td>
            <td>-------</td>
            <td>17/07/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200N(neo)</td>
            <td>JA133A</td>
            <td>----</td>
            <td>-------</td>
            <td>17/11/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200N(neo)</td>
            <td>JA134A</td>
            <td>----</td>
            <td>-------</td>
            <td>17/12/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200N(neo)</td>
            <td>JA135A</td>
            <td>----</td>
            <td>-------</td>
            <td>18/03/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200N(neo)</td>
            <td>JA136A</td>
            <td>----</td>
            <td>-------</td>
            <td>18/03/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200N(neo)</td>
            <td>JA137A</td>
            <td>----</td>
            <td>-------</td>
            <td>18/06/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200N(neo)</td>
            <td>JA138A</td>
            <td>----</td>
            <td>-------</td>
            <td>18/06/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200N(neo)</td>
            <td>JA139A</td>
            <td>----</td>
            <td>-------</td>
            <td>18/08/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200N(neo)</td>
            <td>JA140A</td>
            <td>----</td>
            <td>-------</td>
            <td>18/08/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200N(neo)</td>
            <td>JA211A</td>
            <td>7401</td>
            <td>PW1127G-JM</td>
            <td>2016/12/16</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200N(neo)</td>
            <td>JA212A</td>
            <td>7483</td>
            <td>PW1127G-JM</td>
            <td>2017/3/2</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200N(neo)</td>
            <td>JA213A</td>
            <td>7554</td>
            <td>PW1127G-JM</td>
            <td>17/07/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200N(neo)</td>
            <td>JA214A</td>
            <td>----</td>
            <td>PW1127G-JM</td>
            <td>18/01/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200N(neo)</td>
            <td>JA215A</td>
            <td>----</td>
            <td>PW1127G-JM</td>
            <td>18/02/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200N(neo)</td>
            <td>JA216A</td>
            <td>----</td>
            <td>PW1127G-JM</td>
            <td>18/05/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200N(neo)</td>
            <td>JA217A</td>
            <td>----</td>
            <td>PW1127G-JM</td>
            <td>18/08/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200</td>
            <td>JA8396</td>
            <td>481</td>
            <td>CFM56-5A1</td>
            <td>1994/8/9</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200</td>
            <td>JA8654</td>
            <td>507</td>
            <td>CFM56-5A1</td>
            <td>1995/2/2</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200</td>
            <td>JA8313</td>
            <td>534</td>
            <td>CFM56-5A1</td>
            <td>1995/5/22</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200</td>
            <td>JA8300</td>
            <td>549</td>
            <td>CFM56-5A1</td>
            <td>1995/9/22</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200</td>
            <td>JA8400</td>
            <td>554</td>
            <td>CFM56-5A1</td>
            <td>1995/11/10</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200</td>
            <td>JA8997</td>
            <td>658</td>
            <td>CFM56-5A1</td>
            <td>1997/3/3</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200</td>
            <td>JA8946</td>
            <td>669</td>
            <td>CFM56-5A1</td>
            <td>1997/4/14</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200</td>
            <td>JA8947</td>
            <td>685</td>
            <td>CFM56-5A1</td>
            <td>1997/6/19</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA51AN</td>
            <td>33886</td>
            <td>CFM56-7B24</td>
            <td>2008/5/20</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA52AN</td>
            <td>33887</td>
            <td>CFM56-7B24</td>
            <td>2008/6/20</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA53AN</td>
            <td>33891</td>
            <td>CFM56-7B24</td>
            <td>2008/12/16</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA54AN</td>
            <td>33890</td>
            <td>CFM56-7B24</td>
            <td>2009/3/12</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA55AN</td>
            <td>33892</td>
            <td>CFM56-7B24</td>
            <td>2009/5/21</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA56AN</td>
            <td>33893</td>
            <td>CFM56-7B24</td>
            <td>2009/6/16</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA57AN</td>
            <td>33894</td>
            <td>CFM56-7B24</td>
            <td>2009/9/15</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA58AN</td>
            <td>33895</td>
            <td>CFM56-7B24</td>
            <td>2009/10/14</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA59AN</td>
            <td>33896</td>
            <td>CFM56-7B24</td>
            <td>2009/12/10</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA60AN</td>
            <td>33897</td>
            <td>CFM56-7B24</td>
            <td>2010/1/6</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA61AN</td>
            <td>33898</td>
            <td>CFM56-7B24</td>
            <td>2010/8/26</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA62AN</td>
            <td>33899</td>
            <td>CFM56-7B24</td>
            <td>2010/9/28</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA63AN</td>
            <td>33901</td>
            <td>CFM56-7B24</td>
            <td>2010/10/29</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA64AN</td>
            <td>33902</td>
            <td>CFM56-7B24</td>
            <td>2010/11/22</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA65AN</td>
            <td>33903</td>
            <td>CFM56-7B24</td>
            <td>2010/12/21</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA66AN</td>
            <td>33909</td>
            <td>CFM56-7B24</td>
            <td>2011/4/8</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA67AN</td>
            <td>33911</td>
            <td>CFM56-7B24</td>
            <td>2011/6/22</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA68AN</td>
            <td>33910</td>
            <td>CFM56-7B24</td>
            <td>2012/8/29</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA69AN</td>
            <td>33912</td>
            <td>CFM56-7B24</td>
            <td>2012/10/31</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA70AN</td>
            <td>33913</td>
            <td>CFM56-7B24</td>
            <td>2012/12/19</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA71AN</td>
            <td>33914</td>
            <td>CFM56-7B24</td>
            <td>2013/2/5</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA72AN</td>
            <td>33915</td>
            <td>CFM56-7B24</td>
            <td>2013/4/16</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA73AN</td>
            <td>33916</td>
            <td>CFM56-7B24</td>
            <td>2013/8/14</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA74AN</td>
            <td>33905</td>
            <td>CFM56-7B24</td>
            <td>2013/10/9</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA75AN</td>
            <td>33906</td>
            <td>CFM56-7B24</td>
            <td>2014/4/3</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA76AN</td>
            <td>33907</td>
            <td>CFM56-7B24</td>
            <td>2014/5/22</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA77AN</td>
            <td>33908</td>
            <td>CFM56-7B24</td>
            <td>2014/7/9</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA78AN</td>
            <td>44556</td>
            <td>CFM56-7B24</td>
            <td>2014/8/7</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA79AN</td>
            <td>44557</td>
            <td>CFM56-7B24</td>
            <td>2014/9/30</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA80AN</td>
            <td>44558</td>
            <td>CFM56-7B24</td>
            <td>2014/12/19</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA81AN</td>
            <td>44559</td>
            <td>CFM56-7B24</td>
            <td>2015/3/25</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA82AN</td>
            <td>62637</td>
            <td>CFM56-7B24</td>
            <td>2015/11/26</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA83AN</td>
            <td>62638</td>
            <td>CFM56-7B24</td>
            <td>2015/12/22</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA84AN</td>
            <td>62639</td>
            <td>CFM56-7B24</td>
            <td>2016/1/13</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA85AN</td>
            <td>62640</td>
            <td>CFM56-7B24</td>
            <td>2016/2/10</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA86AN</td>
            <td>62641</td>
            <td>CFM56-7B24</td>
            <td>2016/3/30</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA87AN</td>
            <td>64874</td>
            <td>CFM56-7B24</td>
            <td>18/--/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA88AN</td>
            <td>64875</td>
            <td>CFM56-7B24</td>
            <td>18/--/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA89AN</td>
            <td>64877</td>
            <td>CFM56-7B24</td>
            <td>18/--/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA90AN</td>
            <td>64878</td>
            <td>CFM56-7B24</td>
            <td>18/--/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-700</td>
            <td>JA02AN</td>
            <td>33872</td>
            <td>CFM56-7B24</td>
            <td>2006/1/26</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-700</td>
            <td>JA03AN</td>
            <td>33873</td>
            <td>CFM56-7B24</td>
            <td>2006/2/16</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-700</td>
            <td>JA04AN</td>
            <td>33874</td>
            <td>CFM56-7B24</td>
            <td>2006/3/14</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-700</td>
            <td>JA05AN</td>
            <td>33875</td>
            <td>CFM56-7B24</td>
            <td>2006/6/26</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-700</td>
            <td>JA06AN</td>
            <td>33876</td>
            <td>CFM56-7B24</td>
            <td>2006/7/19</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-700</td>
            <td>JA17AN</td>
            <td>33884</td>
            <td>CFM56-7B24</td>
            <td>2008/2/14</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-700</td>
            <td>JA18AN</td>
            <td>33885</td>
            <td>CFM56-7B24</td>
            <td>2008/4/22</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA8196</td>
            <td>27966</td>
            <td>CFM56-3C1</td>
            <td>1996/10/24</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA8504</td>
            <td>27432</td>
            <td>CFM56-3C1</td>
            <td>1996/5/20</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA8595</td>
            <td>27461</td>
            <td>CFM56-3C1</td>
            <td>1997/2/20</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA8596</td>
            <td>27462</td>
            <td>CFM56-3C1</td>
            <td>1997/2/25</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA300K</td>
            <td>27433</td>
            <td>CFM56-3C1</td>
            <td>1997/5/20</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA301K</td>
            <td>27434</td>
            <td>CFM56-3C1</td>
            <td>1997/5/21</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA302K</td>
            <td>28990</td>
            <td>CFM56-3C1</td>
            <td>1998/3/10</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA303K</td>
            <td>28991</td>
            <td>CFM56-3C1</td>
            <td>1998/4/14</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA304K</td>
            <td>28992</td>
            <td>CFM56-3C1</td>
            <td>1998/5/20</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA305K</td>
            <td>28993</td>
            <td>CFM56-3C1</td>
            <td>1998/10/16</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA306K</td>
            <td>28994</td>
            <td>CFM56-3C1</td>
            <td>1999/5/18</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA307K</td>
            <td>28995</td>
            <td>CFM56-3C1</td>
            <td>1999/7/22</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA356K</td>
            <td>28083</td>
            <td>CFM56-3C1</td>
            <td>2001/10/15</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA357K</td>
            <td>28131</td>
            <td>CFM56-3C1</td>
            <td>2002/2/15</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA358K</td>
            <td>28130</td>
            <td>CFM56-3C1</td>
            <td>2002/4/16</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA359K</td>
            <td>28128</td>
            <td>CFM56-3C1</td>
            <td>2002/5/15</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA841A</td>
            <td>4080</td>
            <td>PW150A</td>
            <td>2003/7/24</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA842A</td>
            <td>4082</td>
            <td>PW150A</td>
            <td>2003/10/28</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA843A</td>
            <td>4084</td>
            <td>PW150A</td>
            <td>2004/1/13</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA844A</td>
            <td>4091</td>
            <td>PW150A</td>
            <td>2004/5/31</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA845A</td>
            <td>4096</td>
            <td>PW150A</td>
            <td>2004/11/15</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA846A</td>
            <td>4097</td>
            <td>PW150A</td>
            <td>2004/12/3</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA847A</td>
            <td>4099</td>
            <td>PW150A</td>
            <td>2005/2/1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA848A</td>
            <td>4102</td>
            <td>PW150A</td>
            <td>2005/4/21</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA850A</td>
            <td>4108</td>
            <td>PW150A</td>
            <td>2005/9/8</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA851A</td>
            <td>4109</td>
            <td>PW150A</td>
            <td>2005/10/28</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA852A</td>
            <td>4131</td>
            <td>PW150A</td>
            <td>2006/9/21</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA853A</td>
            <td>4135</td>
            <td>PW150A</td>
            <td>2006/11/7</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA854A</td>
            <td>4151</td>
            <td>PW150A</td>
            <td>2007/3/27</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA855A</td>
            <td>4292</td>
            <td>PW150A</td>
            <td>2010/2/8</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA856A</td>
            <td>4335</td>
            <td>PW150A</td>
            <td>2010/11/5</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA857A</td>
            <td>4362</td>
            <td>PW150A</td>
            <td>2011/5/20</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA858A</td>
            <td>4385</td>
            <td>PW150A</td>
            <td>2011/10/27</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA859A</td>
            <td>4401</td>
            <td>PW150A</td>
            <td>2012/3/15</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA460A</td>
            <td>4416</td>
            <td>PW150A</td>
            <td>2012/8/10</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA461A</td>
            <td>4430</td>
            <td>PW150A</td>
            <td>2013/1/24</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA462A</td>
            <td>4443</td>
            <td>PW150A</td>
            <td>2013/7/8</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA463A</td>
            <td>4558</td>
            <td>PW150A</td>
            <td>17/06/2-</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA464A</td>
            <td>45--</td>
            <td>PW150A</td>
            <td>17/09/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA465A</td>
            <td>45--</td>
            <td>PW150A</td>
            <td>17/12/--</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300F</td>
            <td>JA601F</td>
            <td>33404</td>
            <td>CF6-80C2B6</td>
            <td>2015/12/8</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300F</td>
            <td>JA602F</td>
            <td>33509</td>
            <td>CF6-80C2B6</td>
            <td>2005/11/29</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300F</td>
            <td>JA604F</td>
            <td>35709</td>
            <td>CF6-80C2B6</td>
            <td>2006/9/21</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300F</td>
            <td>JA605F</td>
            <td>30842</td>
            <td>CF6-80C2B7F</td>
            <td>2014/4/30</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300BCF</td>
            <td>JA8286</td>
            <td>24400</td>
            <td>CF6-80C2B6</td>
            <td>1989/6/27</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300BCF</td>
            <td>JA8362</td>
            <td>24632</td>
            <td>CF6-80C2B6</td>
            <td>1989/10/27</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300BCF</td>
            <td>JA8356</td>
            <td>25136</td>
            <td>CF6-80C2B6</td>
            <td>1991/7/18</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300BCF</td>
            <td>JA8323</td>
            <td>25654</td>
            <td>CF6-80C2B6</td>
            <td>1992/11/20</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300BCF</td>
            <td>JA8358</td>
            <td>25616</td>
            <td>CF6-80C2B6</td>
            <td>1992/5/15</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300BCF</td>
            <td>JA8664</td>
            <td>27339</td>
            <td>CF6-80C2B6</td>
            <td>1994/12/19</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300BCF</td>
            <td>JA8970</td>
            <td>25619</td>
            <td>CF6-80C2B6</td>
            <td>1997/2/19</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300BCF</td>
            <td>JA603A</td>
            <td>32972</td>
            <td>CF6-80C2B6</td>
            <td>2002/5/17</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
@section ScriptsPartial{
    <script tyep="text/javascript">
$(document).ready(function() {
            $.extend( $.fn.dataTable.defaults, {
                language: {
                    url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
                }
            });
            $('#ANA').DataTable({
                "paging":   false,
                "ordering": false,
                "columnDefs": [{
                    "targets": '_all',
                    "className": 'dt-center'
                }]
            });
        } );
    </script>
}