@{
    ViewData["Title"] = "ANAグループ";
}

<h2>@ViewData["Title"]</h2>

<table id="ANA" class="display cell-border compact dt-body-center" style="width:100%">
    <thead>
        <tr>
            <th>航空会社</th>
            <th>機種</th>
            <th>機体記号</th>
            <th>製造番号</th>
            <th>登録（予定）年月日</th>
            <th>Wi-Fi</th>
            <th>運用</th>
            <th>備考（特別塗装など）</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA731A</td>
            <td>28281</td>
            <td>2004/10/29</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA732A</td>
            <td>27038</td>
            <td>2005/04/26</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA733A</td>
            <td>32648</td>
            <td>2005/10/21</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA734A</td>
            <td>32649</td>
            <td>2006/03/24</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA735A</td>
            <td>34892</td>
            <td>2006/06/16</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA736A</td>
            <td>34893</td>
            <td>2006/09/28</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA777A</td>
            <td>32650</td>
            <td>2006/10/20</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA778A</td>
            <td>32651</td>
            <td>2007/01/26</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA779A</td>
            <td>34894</td>
            <td>2007/04/27</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA780A</td>
            <td>34895</td>
            <td>2007/06/01</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA781A</td>
            <td>27041</td>
            <td>2007/09/26</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA782A</td>
            <td>33416</td>
            <td>2008/01/25</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA783A</td>
            <td>27940</td>
            <td>2008/08/01</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA784A</td>
            <td>37950</td>
            <td>2010/01/05</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA785A</td>
            <td>37951</td>
            <td>2010/03/30</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA786A</td>
            <td>37948</td>
            <td>2010/05/18</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA787A</td>
            <td>37949</td>
            <td>2010/06/11</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA788A</td>
            <td>40686</td>
            <td>2010/07/01</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA789A</td>
            <td>40687</td>
            <td>2010/07/01</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA790A</td>
            <td>60136</td>
            <td>2015/03/27</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA791A</td>
            <td>60137</td>
            <td>2015/04/23</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA792A</td>
            <td>60138</td>
            <td>2015/05/19</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA793A</td>
            <td></td>
            <td>2019/01/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA794A</td>
            <td></td>
            <td>2019/03/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA795A</td>
            <td></td>
            <td>2019/04/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA796A</td>
            <td></td>
            <td>2019/06/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA797A</td>
            <td></td>
            <td>2019/10/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300ER</td>
            <td>JA798A</td>
            <td></td>
            <td>2019/11/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300</td>
            <td>JA751A</td>
            <td>28272</td>
            <td>1998/07/01</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300</td>
            <td>JA752A</td>
            <td>28274</td>
            <td>1998/08/28</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300</td>
            <td>JA753A</td>
            <td>28273</td>
            <td>1998/07/30</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300</td>
            <td>JA754A</td>
            <td>27939</td>
            <td>1998/10/21</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300</td>
            <td>JA755A</td>
            <td>28275</td>
            <td>1999/04/07</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300</td>
            <td>JA756A</td>
            <td>27039</td>
            <td>2003/05/31</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-300</td>
            <td>JA757A</td>
            <td>27040</td>
            <td>2003/06/12</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA707A</td>
            <td>27037</td>
            <td>1999/10/07</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA708A</td>
            <td>28277</td>
            <td>2000/05/11</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA709A</td>
            <td>28278</td>
            <td>2000/06/16</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA710A</td>
            <td>28279</td>
            <td>2000/10/04</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA715A</td>
            <td>32646</td>
            <td>2006/05/11</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA716A</td>
            <td>33414</td>
            <td>2006/06/29</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA717A</td>
            <td>33415</td>
            <td>2006/08/09</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA741A</td>
            <td>40900</td>
            <td>2012/04/20</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA742A</td>
            <td>40901</td>
            <td>2012/05/24</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA743A</td>
            <td>40902</td>
            <td>2013/03/29</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA744A</td>
            <td>40903</td>
            <td>2013/05/30</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200ER</td>
            <td>JA745A</td>
            <td>40904</td>
            <td>2013/06/21</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200</td>
            <td>JA702A</td>
            <td>27033</td>
            <td>1997/07/01</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200</td>
            <td>JA703A</td>
            <td>27034</td>
            <td>1997/08/22</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200</td>
            <td>JA704A</td>
            <td>27035</td>
            <td>1998/03/27</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200</td>
            <td>JA705A</td>
            <td>27029</td>
            <td>1998/04/28</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200</td>
            <td>JA706A</td>
            <td>27036</td>
            <td>1998/05/21</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200</td>
            <td>JA711A</td>
            <td>33406</td>
            <td>2004/06/22</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200</td>
            <td>JA712A</td>
            <td>33407</td>
            <td>2004/10/26</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200</td>
            <td>JA713A</td>
            <td>32647</td>
            <td>2005/03/27</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B777-200</td>
            <td>JA714A</td>
            <td>28276</td>
            <td>2005/06/29</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-10</td>
            <td>JA900A</td>
            <td></td>
            <td>2019/03/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-10</td>
            <td>JA903A</td>
            <td></td>
            <td>2019/05/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-10</td>
            <td>JA925A</td>
            <td></td>
            <td>2020/09/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA830A</td>
            <td>34522</td>
            <td>2014/07/28</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA833A</td>
            <td>34524</td>
            <td>2014/09/26</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA836A</td>
            <td>34527</td>
            <td>2015/04/22</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA837A</td>
            <td>34526</td>
            <td>2015/06/01</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA839A</td>
            <td>34529</td>
            <td>2015/07/01</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA871A</td>
            <td>34534</td>
            <td>2015/07/28</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA872A</td>
            <td>34504</td>
            <td>2015/08/27</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA873A</td>
            <td>34530</td>
            <td>2015/09/30</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA875A</td>
            <td>34531</td>
            <td>2015/11/24</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA876A</td>
            <td>43871</td>
            <td>2016/03/31</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA877A</td>
            <td>34532</td>
            <td>2016/03/22</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA879A</td>
            <td>43869</td>
            <td>2016/07/21</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA880A</td>
            <td>34533</td>
            <td>2016/07/27</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA882A</td>
            <td>43872</td>
            <td>2016/08/17</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA883A</td>
            <td>43873</td>
            <td>2016/09/06</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA884A</td>
            <td>43523</td>
            <td>2016/09/21</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA885A</td>
            <td>43870</td>
            <td>2016/10/05</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA886A</td>
            <td>61522</td>
            <td>2016/10/25</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA887A</td>
            <td>43874</td>
            <td>2016/11/22</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA888A</td>
            <td>43864</td>
            <td>2016/11/07</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA890A</td>
            <td>34500</td>
            <td>2016/12/09</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA891A</td>
            <td>54534</td>
            <td>2017/04/18</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA892A</td>
            <td>34513</td>
            <td>2017/06/13</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA893A</td>
            <td>61519</td>
            <td>2017/07/26</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA894A</td>
            <td>34517</td>
            <td>2017/09/21</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA895A</td>
            <td>61520</td>
            <td>2017/10/02</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA896A</td>
            <td>34499</td>
            <td>2017/12/01</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA897A</td>
            <td>61521</td>
            <td>2018/07/26</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA898A</td>
            <td>40752</td>
            <td>2018/03/28</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA899A</td>
            <td></td>
            <td>2018/--/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA901A</td>
            <td></td>
            <td>2019/05/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA902A</td>
            <td></td>
            <td>2019/05/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA904A</td>
            <td></td>
            <td>2019/07/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA905A</td>
            <td></td>
            <td>2019/08/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA921A</td>
            <td></td>
            <td>2019/08/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA922A</td>
            <td></td>
            <td>2019/11/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA923A</td>
            <td></td>
            <td>2020/05/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA924A</td>
            <td></td>
            <td>2020/08/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA926A</td>
            <td></td>
            <td>2020/10/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA927A</td>
            <td></td>
            <td>2020/11/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA928A</td>
            <td></td>
            <td>2021/05/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA929A</td>
            <td></td>
            <td>2021/06/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA930A</td>
            <td></td>
            <td>2021/07/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-9</td>
            <td>JA931A</td>
            <td></td>
            <td>2021/08/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA801A</td>
            <td>34488</td>
            <td>2011/09/26</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA802A</td>
            <td>34497</td>
            <td>2011/10/14</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA803A</td>
            <td>34485</td>
            <td>2012/08/23</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA804A</td>
            <td>34486</td>
            <td>2012/01/16</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA805A</td>
            <td>34514</td>
            <td>2012/01/04</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA806A</td>
            <td>34515</td>
            <td>2012/03/29</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA807A</td>
            <td>34508</td>
            <td>2012/01/13</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA808A</td>
            <td>34990</td>
            <td>2012/04/16</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA809A</td>
            <td>34494</td>
            <td>2012/06/21</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA810A</td>
            <td>34506</td>
            <td>2012/06/25</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA811A</td>
            <td>34502</td>
            <td>2012/07/17</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA812A</td>
            <td>40748</td>
            <td>2012/07/02</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA813A</td>
            <td>34521</td>
            <td>2012/08/31</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA814A</td>
            <td>34493</td>
            <td>2012/09/24</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA815A</td>
            <td>40899</td>
            <td>2012/10/01</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA816A</td>
            <td>34507</td>
            <td>2012/11/01</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA817A</td>
            <td>40749</td>
            <td>2012/12/21</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA818A</td>
            <td>42243</td>
            <td>2013/05/15</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA819A</td>
            <td>42244</td>
            <td>2013/05/31</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA820A</td>
            <td>34511</td>
            <td>2013/06/20</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA821A</td>
            <td>42245</td>
            <td>2013/09/24</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA822A</td>
            <td>34512</td>
            <td>2013/08/21</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA823A</td>
            <td>42246</td>
            <td>2013/08/22</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA824A</td>
            <td>42247</td>
            <td>2014/01/08</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA825A</td>
            <td>34516</td>
            <td>2014/02/06</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA827A</td>
            <td>34509</td>
            <td>2014/02/07</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA828A</td>
            <td>42248</td>
            <td>2014/02/21</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA829A</td>
            <td>34520</td>
            <td>2014/06/05</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA831A</td>
            <td>34496</td>
            <td>2014/08/04</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA832A</td>
            <td>42249</td>
            <td>2014/08/15</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA834A</td>
            <td>40750</td>
            <td>2014/08/21</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA835A</td>
            <td>34525</td>
            <td>2014/12/18</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA838A</td>
            <td>34528</td>
            <td>2015/05/21</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA840A</td>
            <td>34518</td>
            <td>2015/07/31</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA874A</td>
            <td>34503</td>
            <td>2015/11/12</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B787-8</td>
            <td>JA878A</td>
            <td>40634</td>
            <td>2016/05/13</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA8971</td>
            <td>27942</td>
            <td>1997/03/19</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA604A</td>
            <td>32973</td>
            <td>2002/06/27</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA605A</td>
            <td>32974</td>
            <td>2002/07/12</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA606A</td>
            <td>32975</td>
            <td>2002/07/24</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA607A</td>
            <td>32976</td>
            <td>2002/08/09</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA608A</td>
            <td>32977</td>
            <td>2002/08/29</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA609A</td>
            <td>32978</td>
            <td>2003/04/02</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA610A</td>
            <td>32979</td>
            <td>2003/04/15</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA611A</td>
            <td>32980</td>
            <td>2003/07/28</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA612A</td>
            <td>33506</td>
            <td>2004/04/06</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA613A</td>
            <td>33507</td>
            <td>2004/08/06</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA614A</td>
            <td>33508</td>
            <td>2005/04/21</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA615A</td>
            <td>35877</td>
            <td>2007/01/31</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA616A</td>
            <td>35876</td>
            <td>2007/03/23</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA617A</td>
            <td>37719</td>
            <td>2008/09/01</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA618A</td>
            <td>37720</td>
            <td>2009/04/10</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA619A</td>
            <td>36848</td>
            <td>2010/09/01</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA620A</td>
            <td>40565</td>
            <td>2010/11/12</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA621A</td>
            <td>40566</td>
            <td>2011/01/18</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA622A</td>
            <td>40567</td>
            <td>2011/02/23</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA623A</td>
            <td>40894</td>
            <td>2011/03/30</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA624A</td>
            <td>40895</td>
            <td>2011/09/01</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA625A</td>
            <td>40896</td>
            <td>2011/10/03</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA626A</td>
            <td>40897</td>
            <td>2012/01/17</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300ER</td>
            <td>JA627A</td>
            <td>40898</td>
            <td>2012/03/23</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8324</td>
            <td>25655</td>
            <td>1992/11/24</td>
            <td></td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8567</td>
            <td>25656</td>
            <td>1993/08/17</td>
            <td></td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8568</td>
            <td>25657</td>
            <td>1993/09/16</td>
            <td></td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8578</td>
            <td>25658</td>
            <td>1993/11/02</td>
            <td></td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8579</td>
            <td>25659</td>
            <td>1993/12/02</td>
            <td></td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8569</td>
            <td>27050</td>
            <td>1993/12/02</td>
            <td></td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8670</td>
            <td>25660</td>
            <td>1994/05/10</td>
            <td></td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8674</td>
            <td>25661</td>
            <td>1994/06/16</td>
            <td></td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8677</td>
            <td>25662</td>
            <td>1994/08/24</td>
            <td></td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8669</td>
            <td>27444</td>
            <td>1995/03/02</td>
            <td></td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B767-300</td>
            <td>JA8342</td>
            <td>27455</td>
            <td>1995/04/28</td>
            <td></td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200</td>
            <td>JA111A</td>
            <td>7346</td>
            <td>2016/10/28</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200</td>
            <td>JA112A</td>
            <td>7382</td>
            <td>2016/11/22</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200</td>
            <td>JA113A</td>
            <td>7430</td>
            <td>2016/12/15</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200</td>
            <td>JA114A</td>
            <td>7493</td>
            <td>2017/02/01</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200N(neo)</td>
            <td>JA131A</td>
            <td>7839</td>
            <td>2017/09/06</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200N(neo)</td>
            <td>JA132A</td>
            <td>7881</td>
            <td>2017/10/03</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200N(neo)</td>
            <td>JA133A</td>
            <td>8095</td>
            <td>2018/05/18</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200N(neo)</td>
            <td>JA134A</td>
            <td>8187</td>
            <td>2018/07/17</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200N(neo)</td>
            <td>JA135A</td>
            <td>8212</td>
            <td>2018/08/14</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200N(neo)</td>
            <td>JA136A</td>
            <td>8229</td>
            <td>2018/08/01</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200N(neo)</td>
            <td>JA137A</td>
            <td>8291</td>
            <td>2018/08/28</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200N(neo)</td>
            <td>JA138A</td>
            <td>8349</td>
            <td>2018/06/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200N(neo)</td>
            <td>JA139A</td>
            <td>8524</td>
            <td>2018/08/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A321-200N(neo)</td>
            <td>JA140A</td>
            <td>8552</td>
            <td>2018/08/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200N(neo)</td>
            <td>JA211A</td>
            <td>7401</td>
            <td>2016/12/16</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200N(neo)</td>
            <td>JA212A</td>
            <td>7483</td>
            <td>2017/03/02</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200N(neo)</td>
            <td>JA213A</td>
            <td>7554</td>
            <td>2017/08/01</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200N(neo)</td>
            <td>JA214A</td>
            <td>8196</td>
            <td>2018/06/08</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200N(neo)</td>
            <td>JA215A</td>
            <td>8253</td>
            <td>2018/07/06</td>
            <td>○</td>
            <td>国際</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200N(neo)</td>
            <td>JA216A</td>
            <td>8413</td>
            <td>2018/05/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200N(neo)</td>
            <td>JA217A</td>
            <td></td>
            <td>2018/08/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200</td>
            <td>JA8313</td>
            <td>534</td>
            <td>1995/05/22</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200</td>
            <td>JA8300</td>
            <td>549</td>
            <td>1995/09/22</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200</td>
            <td>JA8400</td>
            <td>554</td>
            <td>1995/11/10</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200</td>
            <td>JA8997</td>
            <td>658</td>
            <td>1997/03/03</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200</td>
            <td>JA8946</td>
            <td>669</td>
            <td>1997/04/14</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>A320-200</td>
            <td>JA8947</td>
            <td>685</td>
            <td>1997/06/19</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA51AN</td>
            <td>33886</td>
            <td>2008/05/20</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA52AN</td>
            <td>33887</td>
            <td>2008/06/20</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA53AN</td>
            <td>33891</td>
            <td>2008/12/16</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA54AN</td>
            <td>33890</td>
            <td>2009/03/12</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA55AN</td>
            <td>33892</td>
            <td>2009/05/21</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA56AN</td>
            <td>33893</td>
            <td>2009/06/16</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA57AN</td>
            <td>33894</td>
            <td>2009/09/15</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA58AN</td>
            <td>33895</td>
            <td>2009/10/14</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA59AN</td>
            <td>33896</td>
            <td>2009/12/10</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA60AN</td>
            <td>33897</td>
            <td>2010/01/06</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA61AN</td>
            <td>33898</td>
            <td>2010/08/26</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA62AN</td>
            <td>33899</td>
            <td>2010/09/28</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA63AN</td>
            <td>33901</td>
            <td>2010/10/29</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA64AN</td>
            <td>33902</td>
            <td>2010/11/22</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA65AN</td>
            <td>33903</td>
            <td>2010/12/21</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA66AN</td>
            <td>33909</td>
            <td>2011/04/08</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA67AN</td>
            <td>33911</td>
            <td>2011/06/22</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA68AN</td>
            <td>33910</td>
            <td>2012/08/29</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA69AN</td>
            <td>33912</td>
            <td>2012/10/31</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA70AN</td>
            <td>33913</td>
            <td>2012/12/19</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA71AN</td>
            <td>33914</td>
            <td>2013/02/05</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA72AN</td>
            <td>33915</td>
            <td>2013/04/16</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA73AN</td>
            <td>33916</td>
            <td>2013/08/14</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA74AN</td>
            <td>33905</td>
            <td>2013/10/09</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA75AN</td>
            <td>33906</td>
            <td>2014/04/03</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA76AN</td>
            <td>33907</td>
            <td>2014/05/22</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA77AN</td>
            <td>33908</td>
            <td>2014/07/09</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA78AN</td>
            <td>44556</td>
            <td>2014/08/07</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA79AN</td>
            <td>44557</td>
            <td>2014/09/30</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA80AN</td>
            <td>44558</td>
            <td>2014/12/19</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA81AN</td>
            <td>44559</td>
            <td>2015/03/25</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA82AN</td>
            <td>62637</td>
            <td>2015/11/26</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA83AN</td>
            <td>62638</td>
            <td>2015/12/22</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA84AN</td>
            <td>62639</td>
            <td>2016/01/13</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA85AN</td>
            <td>62640</td>
            <td>2016/02/10</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA86AN</td>
            <td>62641</td>
            <td>2016/03/30</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA87AN</td>
            <td>64874</td>
            <td>2018/08/28</td>
            <td>○</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA88AN</td>
            <td>64875</td>
            <td>2018/09/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA89AN</td>
            <td>64877</td>
            <td>2018/11/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-800</td>
            <td>JA90AN</td>
            <td>64878</td>
            <td>2018/12/--</td>
            <td></td>
            <td>予約登録</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-700</td>
            <td>JA02AN</td>
            <td>33872</td>
            <td>2006/01/26</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-700</td>
            <td>JA03AN</td>
            <td>33873</td>
            <td>2006/02/16</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-700</td>
            <td>JA04AN</td>
            <td>33874</td>
            <td>2006/03/14</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-700</td>
            <td>JA05AN</td>
            <td>33875</td>
            <td>2006/06/26</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-700</td>
            <td>JA06AN</td>
            <td>33876</td>
            <td>2006/07/19</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-700</td>
            <td>JA17AN</td>
            <td>33884</td>
            <td>2008/02/14</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ANA</th>
            <td>B737-700</td>
            <td>JA18AN</td>
            <td>33885</td>
            <td>2008/04/22</td>
            <td>×</td>
            <td>併用</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA8595</td>
            <td>27461</td>
            <td>1997/02/20</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA300K</td>
            <td>27433</td>
            <td>1997/05/20</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA302K</td>
            <td>28990</td>
            <td>1998/03/10</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA303K</td>
            <td>28991</td>
            <td>1998/04/14</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA304K</td>
            <td>28992</td>
            <td>1998/05/20</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA305K</td>
            <td>28993</td>
            <td>1998/10/16</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA306K</td>
            <td>28994</td>
            <td>1999/05/18</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA307K</td>
            <td>28995</td>
            <td>1999/07/22</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA356K</td>
            <td>28083</td>
            <td>2001/10/15</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA357K</td>
            <td>28131</td>
            <td>2002/02/15</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA358K</td>
            <td>28130</td>
            <td>2002/04/16</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>B737-500</td>
            <td>JA359K</td>
            <td>28128</td>
            <td>2002/05/15</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA841A</td>
            <td>4080</td>
            <td>2003/07/24</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA842A</td>
            <td>4082</td>
            <td>2003/10/28</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA843A</td>
            <td>4084</td>
            <td>2004/01/13</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA844A</td>
            <td>4091</td>
            <td>2004/05/31</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA845A</td>
            <td>4096</td>
            <td>2004/11/15</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA846A</td>
            <td>4097</td>
            <td>2004/12/03</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA847A</td>
            <td>4099</td>
            <td>2005/02/01</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA848A</td>
            <td>4102</td>
            <td>2005/04/21</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA850A</td>
            <td>4108</td>
            <td>2005/09/08</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA851A</td>
            <td>4109</td>
            <td>2005/10/28</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA852A</td>
            <td>4131</td>
            <td>2006/09/21</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA853A</td>
            <td>4135</td>
            <td>2006/11/07</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA854A</td>
            <td>4151</td>
            <td>2007/03/27</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA855A</td>
            <td>4292</td>
            <td>2010/02/08</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA856A</td>
            <td>4335</td>
            <td>2010/11/05</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA857A</td>
            <td>4362</td>
            <td>2011/05/20</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA858A</td>
            <td>4385</td>
            <td>2011/10/27</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA859A</td>
            <td>4401</td>
            <td>2012/03/15</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA460A</td>
            <td>4416</td>
            <td>2012/08/10</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA461A</td>
            <td>4430</td>
            <td>2013/01/24</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA462A</td>
            <td>4443</td>
            <td>2013/07/08</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA463A</td>
            <td>4558</td>
            <td>2017/07/05</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA464A</td>
            <td>4565</td>
            <td>2017/10/03</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>ANAウイングス</th>
            <td>DHC-8-Q400</td>
            <td>JA465A</td>
            <td>4571</td>
            <td>2017/12/12</td>
            <td>×</td>
            <td>国内</td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300F</td>
            <td>JA601F</td>
            <td>33404</td>
            <td>2015/12/08</td>
            <td>×</td>
            <td>貨物</td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300F</td>
            <td>JA602F</td>
            <td>33509</td>
            <td>2005/11/29</td>
            <td>×</td>
            <td>貨物</td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300F</td>
            <td>JA604F</td>
            <td>35709</td>
            <td>2006/09/21</td>
            <td>×</td>
            <td>貨物</td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300F</td>
            <td>JA605F</td>
            <td>30842</td>
            <td>2014/04/30</td>
            <td>×</td>
            <td>貨物</td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300BCF</td>
            <td>JA8286</td>
            <td>24400</td>
            <td>1989/06/27</td>
            <td>×</td>
            <td>貨物</td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300BCF</td>
            <td>JA8362</td>
            <td>24632</td>
            <td>1989/10/27</td>
            <td>×</td>
            <td>貨物</td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300BCF</td>
            <td>JA8356</td>
            <td>25136</td>
            <td>1991/07/18</td>
            <td>×</td>
            <td>貨物</td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300BCF</td>
            <td>JA8323</td>
            <td>25654</td>
            <td>1992/11/20</td>
            <td>×</td>
            <td>貨物</td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300BCF</td>
            <td>JA8358</td>
            <td>25616</td>
            <td>1992/05/15</td>
            <td>×</td>
            <td>貨物</td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300BCF</td>
            <td>JA8664</td>
            <td>27339</td>
            <td>1994/12/19</td>
            <td>×</td>
            <td>貨物</td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300BCF</td>
            <td>JA8970</td>
            <td>25619</td>
            <td>1997/02/19</td>
            <td>×</td>
            <td>貨物</td>
            <td></td>
        </tr>
        <tr>
            <th>エアージャパン</th>
            <td>B767-300BCF</td>
            <td>JA603A</td>
            <td>32972</td>
            <td>2002/05/17</td>
            <td>×</td>
            <td>貨物</td>
            <td></td>
        </tr>
    </tbody>
    </table>
@section ScriptsPartial{
    <script tyep="text/javascript">
$(document).ready(function() {
            $.extend( $.fn.dataTable.defaults, {
                language: {
                    url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
                }
            });
            $('#ANA').DataTable({
                "paging":   false,
                "ordering": false,
                "columnDefs": [{
                    "targets": '_all',
                    "className": 'dt-center'
                }]
            });
        } );
    </script>
}