<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="google-site-verification" content="gaEmZmJrwC5Ay5P-0hcqz_IteB60VIJNDlIbfsSFlxo" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JA-Fleet</title>

    <environment exclude="Development">
    </environment>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background-color:gray">
                    <span style="color:white;">Menu</span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">JA-Fleet</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="ANA" asp-action="Index">ANAグループ</a></li>
                    <li><a asp-area="" asp-controller="JAL" asp-action="Index">JALグループ</a></li>
                    <li><a asp-area="" asp-controller="LCC" asp-action="Index">LCC</a></li>
                    <li><a asp-area="" asp-controller="Other" asp-action="Index">その他航空会社</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="color:red">
        <h2>
            <u>只今公開準備中です！</u><br />
        </h2>
        <h3>
            このサイトは以前51ANさんが公開されていた本邦航空会社の機材一覧を引き継いで、<br />
            51ANさんの承諾を得て公開しています。<br />
            現時点で掲載中のデータは2017/7現在のものであり、整備中の段階です。<br />
            その他、デザインなども調整中です。
            整備完了まで今しばらくお待ち下さい。<br />
        </h3>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - JA-Fleet</p>
        </footer>
    </div>

    <environment exclude="Development">
    </environment>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47052530-4"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-47052530-4');
        </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("ScriptsPartial", required: false)
</body>
</html>
