@model ErrorViewModel
@{
    ViewData["Title"] = "エラー";
}

<h1 class="text-danger">エラーが発生しました。</h1>
<h2 class="text-danger">繰り返しエラーが表示される場合は管理者までお知らせください。</h2>

@if (Model.ShowRequestId)
{
<p>
    <strong>Request ID:</strong> <code>@Model.RequestId</code>
</p>
}
