<div class="modal fade" id="notexistphoto" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Jetphotosに写真が登録されていないため表示できません。<br />
                写真が投稿されると表示できるようになります。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="photsearcherror" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                写真の検索でエラーが発生しました。<br />
                繰り返し表示される場合は管理者<a href="https://twitter.com/ja_fleet">@@ja_fleet</a>までご連絡ください。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>