@if (!Model.IsDetail)
{
    @:<input type="button" value="ソートリセット" onclick="table.order.neutral().draw();" id="resetsort" class="btn btn-primary btn-xs" />　<font color="#FFCCFF">背景ピンク■</font>はデータ更新1週間以内
}
<table id="@(Model.TableId)" class="display cell-border compact dt-body-center nowrap" style="width:100%">
    <thead>
        <tr>
            @if (Model.IsDetail)
            {
                <th>更新日</th>
            }
            else
            {
                <th>ソート順</th>
            }
            <th>航空会社</th>
            <th>機種</th>
            <th>機体記号</th>
            <th>製造番号</th>
            <th>登録年月日</th>
            <th>運用</th>
            <th>コンフィグ</th>
            <th>Wi-Fi</th>
            <th>特別塗装</th>
            <th>備考</th>
        </tr>
    </thead>
</table>
