columns: [
@if (Model.IsDetail)
{
    @:{data: 'updateTimeString',className: 'dt-center'},
}
else
{
    @:{data: 'displayOrder',className: 'dt-center',visible:false},
}
{data: 'airlineNameJpShort',className: 'dt-center'
                    ,createdCell: function (td, cellData, rowData, row, col) {
        if(rowData.airlineChanged == 1){
                            $(td).css({"background-color":"#FFCCFF"});
        }
    }
},
    {data: null
    ,render: function( data, type, row ) {
                    if(row.typeDetailName != null){
                        return row.typeDetailName;
                    }else{
                        return row.typeName;
                    }
                }
        ,className: 'dt-center'
        ,createdCell: function (td, cellData, rowData, row, col) {
                        if(rowData.typeDetailChanged == 1){
                            $(td).css({"background-color":"#FFCCFF"});
                        }
                    }
    },
    {data: 'registrationNumber', render: function(data, type, row, meta) {
@if (!Model.IsDetail)
{
    @:return "<a href=\"javascript:openDetail('" + row.registrationNumber + "')\">" + data + "</a>";
}
else
{
    @:return data;
}
            }, className: 'dt-center'
    },
@if (Model.IsAdmin)
{
    @:{data: 'serialNumber', render: function(data, type, row, meta)  {
    @:return "<a href=\"javascript:openPopUp('/E/" + row.registrationNumber + "?nohead=true')\">" + data + "</a>";
    @:},className: 'dt-center'
}
else
{
    @:{data: 'serialNumber', render: function(data, type, row, meta) {
    @:return data;
    @:},className: 'dt-center'
}
                    ,createdCell: function (td, cellData, rowData, row, col) {
                        if(rowData.serialNumberChanged == 1){
                            $(td).css({"background-color":"#FFCCFF"});
                        }
                    }
},
    {data: 'registerDate',className: 'dt-center'
                    ,createdCell: function (td, cellData, rowData, row, col) {
                        if(rowData.registerDateChanged == 1){
                            $(td).css({"background-color":"#FFCCFF"});
                        }
                    }
},
    {data: 'operation',className: 'dt-center'
                    ,createdCell: function (td, cellData, rowData, row, col) {
                        if(rowData.operationChanged == 1){
                            $(td).css({"background-color":"#FFCCFF"});
                        }
                    }
     },
    {data: 'seatConfig',className: 'dt-center'
                    ,createdCell: function (td, cellData, rowData, row, col) {
                        if(rowData.seatConfigChanged == 1){
                            $(td).css({"background-color":"#FFCCFF"});
                        }
                    }, render: function(data, type, row, meta)  {
                            if(data != null && row.seatUrl != null){
                                return '<a href="' + row.seatUrl + '" target="_blank">' + data + '</a>';
                            }else{
                                return "";
                            }
                        }
    },
    {data: 'wifiShort',className: 'dt-center'
                    ,createdCell: function (td, cellData, rowData, row, col) {
                        if(rowData.wifiChanged == 1){
                            $(td).css({"background-color":"#FFCCFF"});
                        }
                    }, render: function(data, type, row, meta)  {
                            if(row.wifiCode == '2'){
                                return '<a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" data-container="body" title=" ' + row.wifi + ' ">' + data + '</a>';
                            }else{
                                return data;
                            }
                        }
    },
    {data: 'specialLivery',className: 'dt-left'
                    ,createdCell: function (td, cellData, rowData, row, col) {
                        if(rowData.specialLiveryChanged == 1){
                            $(td).css({"background-color":"#FFCCFF"});
                        }
                    }
   },
    {data: 'remarks',className: 'dt-center'
                    ,createdCell: function (td, cellData, rowData, row, col) {
                        if(rowData.remarksChanged == 1){
                            $(td).css({"background-color":"#FFCCFF"});
                        }
                    }, render: function(data, type, row, meta)  {
                        if(data != null){
                            return '<a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" data-container="body" title=" ' + data + ' ">〇</a>';
                        }else{
                            return '';
                        }
                    }
   }
   ],
@if (!Model.IsDetail)
{@: createdRow: function(row, data, dataIndex) {
    @: if (data.updateTime !=null)
    @: {
    @: let updateTime=dayjs(data.updateTime);
    @: let today=dayjs();
    @: if (today.diff(updateTime, 'days' , true) <= 7)
    @:{
    @:$(row).css({ "background-color":"#FFCCFF"});
    @:}
    @:}
    @:},
}
paging: false,
@if (Model.IsDetail)
{
    @:ordering: false,
}
else
{
    @:ordering: true,
}
fixedHeader: true,
scrollY: gridheight,
scrollX: true,
scrollCollapse: true,
searching: false
@if (Model.IsDetail)
{
    @:,info: false
}